<input type="hidden" value="$datosCoti.esquemaA" id="esqA"/>
<input type="hidden" value="$datosCoti.esquemaB" id="esqB"/>
<input type="hidden" value="$datosCoti.producto" id="prod"/>
<form id="formularioStep2" name="formularioStep2">
    <input type="hidden" value="" name="valorMedioPago" id="valorMedioPago"/>
    <input type="hidden" value="" name="valorFormaPago" id="valorFormaPago"/>
    <input type="hidden" value="" name="valorVigencia" id="valorVigencia"/>
    <input type="hidden" value="" name="valorFacturacion" id="valorFacturacion"/>
    <input type="hidden" value="" name="valorMoneda" id="valorMoneda"/>
    <input type="hidden" value="" name="textoSeleccionadoStep2" id="textoSeleccionadoStep2"/>
    <input type="hidden" value="0" id="valorDato"/>
	<input type="hidden" value="0" id="valorForm"/>
    <section class="">
        <div class="" style="padding-top:50px;" id="main">
            <div class="row" id="rowAlto" style="margin-bottom:0px;">
                <div class="col-sm-12 col-md-12 col-lg-9 sin-margen-der">
                    <div class="panel-default fondo-panel-central">
                        <div class="panel-body">
                            <div class=" row" id="rowCuerpo">
                                <div class="col-md-12 fondo-cuerpo" style="">
                                    <h3 class="box-title pl-1 pt-1" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Datos Generales</h3>
                                    <div class="plan-selection">
                                        <div class="plan-data mt-2">
                                            <div class="row" style="margin-bottom:0px;">
                                                #parse("partials/pes/cotizador/step2/cuerpoStep2.vm")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cuerpo-botones">
                                    <div class="row" style="margin:0px !important;">
                                        <div class="col-md-3" style="text-align:center;">
                                            <a onclick="volverRedirectStep1();"  class="btn waves-effect waves-light boton-siguiente-cotizacion boton-volver">
                                                Volver
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-3" style="text-align:center;">
                                            <a onclick="redirectStep3();"  class="btn waves-effect waves-light boton-siguiente-cotizacion">
                                                Siguiente
                                                <i class="material-icons right" style="color:white;">send</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Lista certificados - Panel B -->
                #parse("partials/pes/cotizador/step0/step0CotizacionpanelBNuevaCotizacion.vm")
            </div>
			 </div>
</section>
</form>
