<input type="hidden" value="#if($datosCoti.datosGenerales.vigenciaTecnica.length()>0)$datosCoti.datosGenerales.vigenciaTecnica#else$datosValoresDefault.datosDefault.vigenciaTecnica#end" id="valorVigenciaTecnica"/>
<input type="hidden" value="#if($datosCoti.datosGenerales.planPago.length()>0)$datosCoti.datosGenerales.planPago#else$datosValoresDefault.datosDefault.planPago#end" id="valorPlanPago"/>
<input type="hidden" value="$datosCoti.datosGenerales" id="datosCoti"/>
<input type="hidden" value="$datosCoti.datosContacto.cuit" id="datosCotiCuit"/>
<div class="input-field col-md-5">
    <input id="dni" class="validarForm" value="#if($datosCoti.datosContacto.dni.length()>0)$datosCoti.datosContacto.dni#end" onkeypress="solonumeros(event);" onblur="validarCampo(this.id);" name="dni" type="text">
        <label for="dni">Documento*</label>
        #set( $id = "dni")
        #set( $idMsj = "_validar")
        #parse("partials/pes/cotizador/mensajeErrorCotizador.vm")
</div>
<div class="col-md-2">
</div>
<div class="input-field col-md-5">
	<input  type="text" value="#if($datosCoti.datosContacto.cuit.length()>0)$datosCoti.datosContacto.cuit#end" class="validarForm" onblur="validarCampo(this.id);" name="cuit" id="cuit">
		<label  for="cuit">Cuit*</label>
		#set( $id = "cuit")
		#set( $idMsj = "_validar")
		#parse("partials/pes/cotizador/mensajeErrorCotizador.vm")
        
</div>
<div class="input-field col-md-5">
    <input class="validarForm" value="#if($datosCoti.datosContacto.nombre.length()>0)$datosCoti.datosContacto.nombre#end"  type="text" onkeypress="return soloLetras(event)" id="nombre" onblur="validarCampo(this.id);"  name="nombre">
        <label for="nombre">Nombre y Apellido*</label>
        #set( $id = "nombre")
        #set( $idMsj = "_validar")
        #parse("partials/pes/cotizador/mensajeErrorCotizador.vm")
</div>
<div class="col-md-2">
</div>
<div class="input-field col-md-5">
    <input class="validarForm" value="#if($datosCoti.datosContacto.telefono.length()>0)$datosCoti.datosContacto.telefono#end" type="text" onkeypress="solonumeros(event);" id="telefono" onblur="validarCampo(this.id);" name="telefono">
        <label for="telefono">Celular*</label>
      	#set( $id = "telefono")
		#set( $idMsj = "_validar")
		#parse("partials/pes/cotizador/mensajeErrorCotizador.vm")
</div>
<div class="input-field col-md-5">
    <input class="validarForm"  value="#if($datosCoti.datosContacto.email.length()>0)$datosCoti.datosContacto.email#end" type="text" id="email"  onblur="validarCampo(this.id);" name="email">
        <label for="email">Email*</label>
     	#set( $id = "email")
		#set( $idMsj = "_validar")
		#parse("partials/pes/cotizador/mensajeErrorCotizador.vm")
        </div>
        <div class="col-md-2">
        </div>
        <div class="input-field col-md-5">
            <input  class="validarForm" value="#if($datosCoti.datosContacto.domicilio.length()>0)$datosCoti.datosContacto.domicilio#end" type="text" onkeypress="return soloLetrasYnum(event)" onblur="validarCampo(this.id);" id="domicilio" name="domicilio">
                <label for="domicilio">Domicilio*</label>
            	#set( $id = "domicilio")
				#set( $idMsj = "_validar")
				#parse("partials/pes/cotizador/mensajeErrorCotizador.vm")
        </div>
        <div class="input-field col-md-5">
            <select class="validarForm"  name="canal" id="canal" onchange="validarSelect(this.id);">
				#if($datosCoti.datosContacto.canal==1)
					<option value="1" selected>Web</option>
					#elseif($datosCoti.datosContacto.canal==2)
					<option value="2" selected>Tv</option>
						#elseif($datosCoti.datosContacto.canal==3)
					<option value="3" selected>Canal</option>
				#end
			    <option value="">Seleccione...</option>
                <option value="1">Web</option>
                <option value="2">Tv</option>
                <option value="3">Canal</option>	
            </select>
            <label>Canal de Contacto*</label>
		#set( $id = "canal")
        #set( $idMsj = "_validar")
        #parse("partials/pes/cotizador/mensajeErrorCotizadorSelect.vm")
        </div>
        <!-- select de provincia -->				
