<div class="input-field col-md-5 form-group">
    <input id="dniCliente" onkeypress="solonumeros(event);" name="dniCliente" type="text" class="form-control form-validar" required>
        <label for="dniCliente">Documento*</label>
        <div class="invalid-feedback validar-from">
                    Este es un campo obligatorio.
        </div>
</div>

<div class="col-md-2">
</div>
<div class="input-field col-md-5">
    <input  type="text" name="cuit" id="cuit">
        <label  for="cuit">Cuit</label>
        </div>
        <div class="input-field col-md-5">
            <input  type="text" onkeypress="return soloLetras(event)" id="nombreCliente"  class="form-control form-validar" name="nombreCliente" required>
                <label for="first_name">Nombre y Apellido*</label>
                <div class="invalid-feedback validar-from">
                    Este es un campo obligatorio.
                </div>
</div>
<div class="col-md-2">
</div>
<div class="input-field col-md-5">
    <input  type="text" onkeypress="solonumeros(event);" id="celular" class="form-control form-validar"  name="celular" required>
        <label for="first_name">Celular*</label>
        <div class="invalid-feedback validar-from">
                    Este es un campo obligatorio.
        </div>
                </div>
                <div class="input-field col-md-5">
                    <input  type="text" id="email" class="form-control form-validar" name="email" required>
                        <label for="first_name">Email*</label>
                        <div class="invalid-feedback validar-from">
                    Este es un campo obligatorio.
                        </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="input-field col-md-5">
            <input  type="text" onkeypress="return soloLetrasYnum(event)" id="domicilio" class="form-control form-validar" name="domicilio" required>
                <label for="first_name">Domicilio*</label>
                <div class="invalid-feedback validar-from">
                    Este es un campo obligatorio.
                </div>
                        </div>
                        <div class="input-field col-md-5">
                            <select required="required" aria-required="true" class="validate" name="canal" id="canal">
                                <option value="" selected>Selecione..</option>
                                <option value="1">Web</option>
                                <option value="2">Tv</option>
                                <option value="3">Canal</option>
                               
                                
                            </select>
                            <label>Canal de Contacto*</label>
                        </div>
                        <!-- select de provincia -->									



