<div id="modalDetallePlan" class="modal">

	<input type="hidden" value="" id="valorPromoModal">	
	<input type="hidden" value="" id="valorPlanModal">	


	    <div class="row" style="width:100%">
	    	<div class="col-md-12 pt-5 pr-3 pl-3">
	     	 <h5 id="textoPromo"></h5>
	      </div>
	     	<div class="col-md-6">
	     	 <h6 style="border:none;text-align:center;" id="textoPlan">Plan <b> XX (DESCRIPCION)</b></h5>
	      </div>
	        	<div class="col-md-6">
	     	 <h6 style="border:none;text-align:center;" id="textoPremio">Premio <b> $ XX / MENSUAL</b></h5>
	      </div>
	     </div>
	    <div class="row" style="width:100%">
		    <div class="col-md-2" style="text-align:center;">
		     <i class="fas fa-car" style="color:#0b4376!important;font-size:70px;"></i>
		    </div>
		    <div class="col-md-10">
		    	<div class="row mr-4 mb-3" style="margin-bottom: 0px;border-bottom: 1px solid #a3a3a3;">
			    	<div class="col-md-2" style="padding-bottom: 12px;">
			    		<a style="color:#a3a3a3;cursor:pointer;"onclick="detalleCoberturas();" id="letraCobertura">Coberturas</a>
			    	</div>
			    	<div class="col-md-2" style="padding-bottom: 12px;">
			    		<a style="color:#a3a3a3;cursor:pointer;"onclick="cargarComponentesDetalle()" id="letraComponente">Componentes</a>
			    	</div>
		    	</div>
		    	<div class="col-md-10 pb-4" id="tablaCobertura">
			  		  	<table >
			                <thead>
			                  <tr>
			                      <th style="width:60%;color:#0b4376!important">Cobertura</th>
			                      <th style="width:30%;color:#0b4376!important">Suma Asegurada</th>
			                      <th style="width:10%;color:#0b4376!important">Prima</th>
			                  </tr>
			                </thead>
			                <tbody id="contenidoCobertura">
			                	<tr>
			                	</tr>
			                </tbody>
     				 </table>
			   </div>
			   
			   
			   	    	<div class="col-md-10 pb-4" id="tablaComponente">
			  		  	<table>
			                <thead>
			                  <tr>
			                      <th style="width:80%;color:#0b4376!important">Componente</th>
			                      <th style="width:20%;color:#0b4376!important">Monto</th>
			                  </tr>
			                </thead>
			                <tbody id="contenidoComponente">
			                	<tr>
			                	</tr>
			                </tbody>
     				 </table>
			   </div>
			   
			   
			   
		    </div>
		    <div class="col-md-10">
		    		

		    	
		    	
		    	
		    	
		    	
		    </div>
	    </div>
    <div class="row">
    	<div class="col-md-12">
      <button href="#!" class="modal-close pull-right btn-flat">Cerrar</button>
      	</div>
      </div>
    </div>
 </div>