<input type="hidden" value="0" id="cantidadPromo"/>
<input type="hidden" value="$datosCoti.promocionA" id="promoUno"/>
<input type="hidden" value="$datosCoti.promocionB" id="promoDos"/>
<input type="hidden" value="$datosCoti.promocionC" id="promoTres"/>
<input type="hidden" value="" id="datoPlan"/>
<input type="hidden" value="" id="datoPromo"/>
<input type="hidden" value="" id="datoMonto"/>
<input type="hidden" value="" id="datoDescPlan"/>
<form id="formularioStep2" name="formularioStep2">
    <section class="">
        <div class="" style="padding-top:50px;" id="main">
            <div class="row" id="rowAlto" style="margin-bottom:0px;">
                <div class=" col-sm-12 col-md-9 sin-margen-der">
                    <div class="panel-default fondo-panel-central">
                        <div class="panel-body">
                            <div class=" row" id="rowCuerpo">
								 <div class="col-md-12 fondo-cuerpo" style="background-color:#e8e8e8">
                                    <div class="plan-selection">
                                        <div class="plan-data mt-2">
                                            <div class="row" style="margin-bottom:0px;">
                                            #parse("partials/pes/cotizador/step5/cuerpoStep5.vm")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 fondo-cuerpo" style="background-color:white">
                                    <h3 class="box-title pl-1 pt-1" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Planes</h3>
                                    <div class="plan-selection">
                                        <div class="plan-data mt-2">
                                            <div class="row" style="margin-bottom:0px;">
                                            #parse("partials/pes/cotizador/step5/planesPromoStep5.vm")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cuerpo-botones">
                                    <div class="row" style="margin:0px !important;">
                                        <div class="col-md-3" style="text-align:center;">
                                            <a onclick="volverRedirectStep4();"  class="btn waves-effect waves-light boton-siguiente-cotizacion boton-volver">
                                                Volver
                                            </a>
                                        </div>
                                          <div class="col-sm-12 col-md-3" id="btnConfirmarStep3">
                                                <a class="btn waves-effect waves-light pull-right boton-siguiente-cotizacion" href=""  name="action" style="color:white;">Imprimir
                                                    <i class="material-icons right" style="color:white;">print</i>
                                                </a>
                                            </div>
											        <div class="col-sm-12  col-md-3">
                                                <button onclick="volverRedirectStep4();" class="btn waves-effect waves-light  boton-siguiente-cotizacion" type="submit" name="action">
                                                    Enviar
                                                    <i class="material-icons right" style="color:white;">email</i>
                                                </button>
                                            </div>
											      <div class="col-sm-12 col-md-3" id="btnConfirmarStep5">
                                                <a class="btn waves-effect waves-light pull-right boton-siguiente-cotizacion" onclick="confirmarCotizacion();"  name="action" style="color:white;">Confirmar
                                                    <i class="material-icons right" style="color:white;">send</i>
                                                </a>
                                            </div>
                                        <div class="col-md-3" style="text-align:center;display:none;" id="btnSiguienteStep5">
                                            <a onclick="cargarPromoPlan();"  class="btn waves-effect waves-light boton-siguiente-cotizacion">
                                                Siguiente
                                                <i class="material-icons right" style="color:white;">send</i>
                                            </a>
											
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Lista certificados - Panel B -->
                #parse("partials/pes/cotizador/step0/step0CotizacionpanelBNuevaCotizacion.vm")
            </div>
</section>
</form>
