<div class="col-md-12">
	<p>La funcionalidad que tiene esta pantalla es poder confirmar si una persona puede formar parte del Programa de Empleados. Para realizar dicha acci&oacute;n, es necesario ingresar el n&uacute;mero de documento que desea averiguar.</p>
	<p>Como resultado, va a indicar si es afiliado/a o no.</p>

</div>