    <nav  class="navbar fixed-top navbar-expand-lg navbar-dark indigo" style="background-color:#0b4376 !important; padding-left:8.5%;border-radius:0px;">
        <a href="/PSPES/home">
            <img src="/PSPES/resources/img/logo/logo-header-blanco.png" style="height:40px;padding-left:10%"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
<section class="top-listings" style="width:100%;padding-top: 60px;">
    <div class="container">
        <div class="row d-flex align-items-stretch">
            <div class="col-xs-12 col-sm-12 col-md-12 pb-3 pt-4">
                <h4 style="border:none;text-align:center;font-weight:400">Bienvenido al portal BPBA de Provincia Seguros S.A</h4>
                <h6 style="border:none;text-align:center;font-weight:400">Seleccione una opci&oacute;n para comenzar ...</h6>
            </div>
            <!-- Item-->
            <div class="col-sm-12 col-md-6 col-lg-6 mb-4 anim7 item-type-line ocultarMenuHover">
                <a class="item-hover-busqueda" href="/PSPES/goBPBA"  style="text-decoration: none;">
                    <div class="item-info-busqueda">
                        <div class="headline">Consultas</div>
                        <div class="line"></div>
                        <div class="date">PS Team.</div>
                    </div>
                    <div class="mask"></div>
                </a>
                <div class="item item-big" style="background: white;">
                    <div class="info">
                        <div class="content" style="text-align:center;padding:30px;">
							<i class="fas fa-search pb-3" style="color: #0b4376;font-size: 90px;"></i>
							<h3 style="color: #807e7e;">Consultas</h3>
                                <p style="color: #807e7e;"> Realizar consultas de operaciones</p>
						</div>
                    </div>
                    </div>
                </a>
            </div>
            <!-- Item-->
            <div class="col-sm-12 col-md-6 col-lg-6 anim7">
                <div class="row">
                    <div class="col-sm-6 col-md-6 anim7 item-type-line mb-4 ocultarMenuHover">
                        <a class="item-hover" href="/PSPES/bpba"  style="text-decoration: none;">
                            <div class="item-info">
                                <div class="headline">Emision</div>
                                <div class="line"></div>
                                <div class="date">PS Team.</div>
                            </div>
                            <div class="mask"></div>
                        </a>
                        <div class="item" style="background-color:white;">
                            <div style="text-align:center;" class="p-2 mt-2">
                                <i class="fas fa-file-contract" style="color:#0b4376;font-size: 55px;"></i>
                            </div>
                            <div class="pb-2 d-flex align-items-end">
                                <div class="content" style="width:100%;">
                                    <h3 style="text-align:center;color: #807e7e;">Emision</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 anim7 item-type-line mb-4 ocultarMenuHover">
                        <a class="item-hover"  href="/PSPES/bpbaSiniestroProducto" style="text-decoration: none;">
                            <div class="item-info">
                                <div class="headline">Siniestros</div>
                                <div class="line"></div>
                                <div class="date">PS Team.</div>
                            </div>
                            <div class="mask"></div>
                        </a>
                        <div class="item" style="background-color:white;">
                            <div style="text-align:center;" class="p-2 mt-2">
                                <i class="fas fa-exclamation-triangle" style="color:#0b4376;font-size: 55px;"></i>
                            </div>
                            <div class="pb-2 d-flex align-items-end">
                                <div class="content" style="width:100%;">
                                    <h3 style="text-align:center;color: #807e7e;">Siniestros</h3>
                                </div>
                            </div>
                        </div>
                    </div>
					
					

            
					
					
					
					<div class="col-sm-6 col-md-6 anim7 item-type-line mb-4 ocultarMenuHover">
                        <a class="item-hover"  style="text-decoration: none;">
                            <div class="item-info">
                                <div class="headline">Endosos</div>
                                <div class="line"></div>
                                <div class="date">PS Team.</div>
                            </div>
                            <div class="mask"></div>
                        </a>
                        <div class="item" style="background-color:white;">
                            <div style="text-align:center;" class="p-2 mt-2">
                                <i class="fas fa-file-signature" style="color:#0b4376;font-size: 55px;"></i>
                            </div>
                            <div class="pb-2 d-flex align-items-end">
                                <div class="content" style="width:100%;">
                                    <h3 style="text-align:center;color: #807e7e;">Endosos</h3>
                                </div>
                            </div>
                        </div>
                    </div>
					
			<div class="col-sm-6 col-md-6 anim7 item-type-line mb-4 ocultarMenuHover">
                <a class="item-hover"   style="text-decoration: none;">
                    <div class="item-info">
                        <div class="headline">Reportes</div>
                        <div class="line"></div>
                        <div class="date">PS Team.</div>
                    </div>
                    <div class="mask"></div>
                </a>
                <div class="item" style="background-color:white;">
                    <div style="text-align:center;" class="p-2 mt-2">
                        <i class="fas fa-chart-pie" style="color:#0b4376;font-size: 55px;"></i>
                    </div>
                    <div class="pb-2 d-flex align-items-end">
                        <div class="content" style="width:100%;">
                            <h3 style="text-align:center;color: #807e7e;">Reportes</h3>
                        </div>
                    </div>
                </div>
            </div>
					
					
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 anim7 item-type-line mb-4 ocultarMenuHover">
                <a class="item-hover"  style="text-decoration: none;">
                    <div class="item-info">
                        <div class="headline">En Construcci&oacute;n!!</div>
                        <div class="line"></div>
                        <div class="date">PS Team.</div>
                    </div>
                    <div class="mask"></div>
                </a>
                <div class="item" style="background-color:white;">
                    <div style="text-align:center;" class="p-2 mt-2">
                        <i class="fas fa-address-card" style="color:#0b4376;font-size: 55px;"></i>
                    </div>
                    <div class="pb-2 d-flex align-items-end">
                        <div class="content" style="width:100%;">
                            <h3 style="text-align:center;color: #807e7e;">Perfil</h3>
                        </div>
                    </div>
                </div>
            </div>
			
			
                    <div class="col-sm-6 col-md-3 anim7 item-type-line mb-4 ocultarMenuHover">
                        <a class="item-hover"  style="text-decoration: none;">
                            <div class="item-info">
								<div class="headline">En Construcci&oacute;n!!</div>
                                <div class="line"></div>
                                <div class="date">PS Team.</div>
                            </div>
                            <div class="mask"></div>
                        </a>
                        <div class="item" style="background-color:white;">
                            <div style="text-align:center;" class="p-2 mt-2">
                                <i class="fas fa-envelope" style="color:#0b4376;font-size: 55px;"></i>
                            </div>
                            <div class="pb-2 d-flex align-items-end">
                                <div class="content" style="width:100%;">
                                    <h3 style="text-align:center;color: #807e7e;">Contacto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
			<div class="col-sm-6  col-md-3 anim7 item-type-line mb-4 ocultarMenuHover">
                <a class="item-hover"  style="text-decoration: none;">
                    <div class="item-info">
                        <div class="headline">En Construcci&oacute;n!!</div>
                        <div class="line"></div>
                        <div class="date">PS Team.</div>
                    </div>
                    <div class="mask"></div>
                </a>
                <div class="item" style="background-color:white;">
                    <div style="text-align:center;" class="p-2 mt-2">
                        <i class="fas fa-question-circle" style="color:#0b4376;font-size: 55px;"></i>
                    </div>
                    <div class="pb-2 d-flex align-items-end">
                        <div class="content" style="width:100%;">
                            <h3 style="text-align:center;color: #807e7e;">Ayuda</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  col-md-3 anim7 item-type-line mb-4 ocultarMenuHover">
                <a class="item-hover"  style="text-decoration: none;">
                    <div class="item-info">
                        <div class="headline">En Construcci&oacute;n!!</div>
                        <div class="line"></div>
                        <div class="date">PS Team.</div>
                    </div>
                    <div class="mask"></div>
                </a>
                <div class="item" style="background-color:white;">
                    <div style="text-align:center;" class="p-2 mt-2">
                        <i class="fas fa-sign-out-alt" style="color:#0b4376;font-size: 55px;"></i>
                    </div>
                    <div class="pb-2 d-flex align-items-end">
                        <div class="content" style="width:100%;">
                            <h3 style="text-align:center;color: #807e7e;">Salir</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
