	<input type="hidden" value="0" name="valorArray" id="valorArray"/>

	
	<input type="hidden" value="" id="tipoVehiculo" />

<div class="input-field col-md-5">
    <select onchange="reiniciarSelect()" class="datoTablaClass selectorMaterialice validate" required="required" aria-required="true" name="40012" id="selectAnio">
        <option value="">Seleccione..</option>
        #foreach($datosResultadoDinamicoIn in $datosResultadoDinamico)
            #if($datosResultadoDinamicoIn.dato.crcoCrtdCdDato == "40012")
                #foreach($datosSelect in $datosResultadoDinamicoIn.listaValores)
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")">$datosSelect.get("P_TF_CRTB.CRTB_DE_DATO")</option>
					#end
                #end
            #end
    </select>
    <label class="">A&ntilde;o*</label>
</div>

<div class="col-md-2">
</div>
<div class="switch col-md-5 centrar-switch">
    <label>
        <input id="esCeroKm" name="40013" type="checkbox">
            <span class="lever"></span>
            &iquest;Es 0km?
</label>
</div>
<div class="input-field col-md-5">
    <select onchange="seleccionarModelo();" class="js-select2 datoTablaClass validate" required="required" aria-required="true" name="40020" id="selectMarca">
		<option value=""selected>Seleccione..</option>
         #foreach($datosResultadoDinamicoIn in $datosResultadoDinamico)
            #if($datosResultadoDinamicoIn.dato.crcoCrtdCdDato == "40020")
                #foreach($datosSelect in $datosResultadoDinamicoIn.listaValores)
					#if($datosResultadoDinamicoIn.dato.crdpValorDefecto == $datosSelect.get("P_TF_CRTB.CRTB_CD_DATO"))
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")" selected>$datosSelect.get("P_TF_CRTB.CRTB_DE_DATO")</option>
					#else
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")">$utilToolScreen.ucFirst($datosSelect.get("P_TF_CRTB.CRTB_DE_DATO"))</option>
					#end     
				#end
            #end
        #end
    </select>
    <label class="label-file-select">Marca*</label>
	 <div class="validar-select-dos" id="validarMarca" style="display:none;">
		Este es un campo obligatorio.
	 </div>
</div>
<div class="col-md-2">
</div>
<div class="input-field col-md-5">
    <select class="js-select2 datoTablaClass modeloClass" onchange="cargarSumaAsegurada();" name="40021" id="selectorModelo" >
        <option value="">Seleccione..</option>
    </select>
    <label class="label-file-select">Modelo*</label>
	 <div class="validar-select-dos" id="validarModelo" style="display:none;">
		Este es un campo obligatorio.
	 </div>
</div>
<div class="input-field col-md-5">
	<select class="selectorMaterialice datoTablaClass validate" required="required" aria-required="true" name="40008" id="usoVehiculo" >
        <option value="">Seleccione..</option>
    </select>
    <label class="">Uso del Vehiculo*</label>
</div>
<div class="col-md-2">
</div>
<div class="input-field col-md-5">
    <select class="selectorMaterialice datoTablaClass" name="40090" id="mercosur" >
        #foreach($datosResultadoDinamicoIn in $datosResultadoDinamico)
            #if($datosResultadoDinamicoIn.dato.crcoCrtdCdDato == "40090")
                #foreach($datosSelect in $datosResultadoDinamicoIn.listaValores)
					#if($datosResultadoDinamicoIn.dato.crdpValorDefecto == $datosSelect.get("P_TF_CRTB.CRTB_CD_DATO"))
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")" selected>$utilToolScreen.campoCortar($utilToolScreen.ucFirst($datosSelect.get("P_TF_CRTB.CRTB_DE_DATO")))</option>
					#else
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")">$utilToolScreen.campoCortar($utilToolScreen.ucFirst($datosSelect.get("P_TF_CRTB.CRTB_DE_DATO")))</option>
					#end
                #end
            #end
	#end
    </select>
    <label>L&iacute;mite R.C Mercosur*</label>
</div>
<div class="input-field col-md-5">
	<input class="datoTablaClass form-control form-validar" required  for="suma" placeholder="$0.00,0"  name="40221" id="labelSumaAsegurada" type="text">
    <label for="suma">Suma Asegurada*</label>
	 <div class="invalid-feedback validar-from">
                    Este es un campo obligatorio.
                </div>
</div>
<div class="col-md-2">
</div>
<div class="input-field col-md-5">
    <select class="datoTablaClass selectorMaterialice validate" required="required" aria-required="true" name="40550" id="clausula" >
        <option value="">Selecione..</option>
        #foreach($datosResultadoDinamicoIn in $datosResultadoDinamico)
            #if($datosResultadoDinamicoIn.dato.crcoCrtdCdDato == "40550")
                #foreach($datosSelect in $datosResultadoDinamicoIn.listaValores)
					#if($datosResultadoDinamicoIn.dato.crdpValorDefecto == $datosSelect.get("P_TF_CRTB.CRTB_CD_DATO"))
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")" selected>$utilToolScreen.ucFirst($datosSelect.get("P_TF_CRTB.CRTB_DE_DATO"))</option>
					#else
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")">$utilToolScreen.ucFirst($datosSelect.get("P_TF_CRTB.CRTB_DE_DATO"))</option>
					#end   
				#end
            #end
	#end
    </select>
    <label>Clausula Ajuste*</label>
</div>
<div class="input-field col-md-5">
    <input class="datoTablaClass form-control form-validar" onkeypress="solonumeros(event);"  for="postal"  name="900008" id="codPostal" type="text" required>
        <label for="postal">C&oacute;digo Postal*</label>
		 <div class="invalid-feedback validar-from">
                    Este es un campo obligatorio.
                </div>
</div>
<div class="col-md-2">
</div>
<div class="input-field col-md-5">
    <select class="selectorMaterialice datoTablaClass validate" required="required" aria-required="true" name="40088" id="bonificacionPromo" >
        <option value=''>Selecione..</option>
        #foreach($datosResultadoDinamicoIn in $datosResultadoDinamico)
            #if($datosResultadoDinamicoIn.dato.crcoCrtdCdDato == "40088")
                #foreach($datosSelect in $datosResultadoDinamicoIn.listaValores)
					#if($datosResultadoDinamicoIn.dato.crdpValorDefecto == $datosSelect.get("P_TF_CRTB.CRTB_CD_DATO"))
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")" selected>$utilToolScreen.ucFirst($datosSelect.get("P_TF_CRTB.CRTB_DE_DATO"))</option>
					#else
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")">$utilToolScreen.ucFirst($datosSelect.get("P_TF_CRTB.CRTB_DE_DATO"))</option>
					#end   
				#end
            #end
	#end
    </select>
    <label>Bonificaci&oacute;n Adicional por Promoci&oacute;n Ajuste*</label>
</div>
<div class="input-field col-md-5">
    <select class="selectorMaterialice datoTablaClass validate" required="required" aria-required="true"  name="40086" id="genero" >
        <option value=''>Selecione..</option>
        #foreach($datosResultadoDinamicoIn in $datosResultadoDinamico)
            #if($datosResultadoDinamicoIn.dato.crcoCrtdCdDato == "40086")
                #foreach($datosSelect in $datosResultadoDinamicoIn.listaValores)
					#if($datosResultadoDinamicoIn.dato.crdpValorDefecto == $datosSelect.get("P_TF_CRTB.CRTB_CD_DATO"))
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")" selected>$utilToolScreen.ucFirst($datosSelect.get("P_TF_CRTB.CRTB_DE_DATO"))</option>
					#else
						<option value="$datosSelect.get("P_TF_CRTB.CRTB_CD_DATO")">$utilToolScreen.ucFirst($datosSelect.get("P_TF_CRTB.CRTB_DE_DATO"))</option>
					#end  
				#end
            #end
        #end
    </select>
    <label>Genero*</label>
</div>
<div class="col-md-2">
</div>
<div class="input-field col-md-5">
  <input type="text" placeholder="dd/mm/aaaa" class="datoTablaClass form-control form-validar" required placeholder="Fecha Nacimiento"  onchange="validarFechanacimiento();" id="fechaNac" name="16015" >
   <div class="invalid-feedback validar-from">
                    Este es un campo obligatorio.
        </div>
		    <label>Fecha de Nacimiento*</label>

</div>