#set ($indicadorSeccionParametroNivel1 = 'Error' )
#set ($indicadorSeccionParametroNivel2 = 'Error General' )

#set ($indicadorClienteParametro = 'Provincia Enterprise System')

#set ($templateWeb = 'partials/error/errorGeneralCoti.vm')

#parse("partials/pes/templates/principal/mainTemplateWeb.vm")	  

