<section class="container-fluid">
    <div class="containerMargenes" id="main">
        <div class="row">
            <!-- POLIZA -->
            <div class=" col-sm-12 col-md-8">
                <input type="hidden" id="ramoTarifa" value=""/>
                <input type="hidden" value="$promocion" id="valorPromocion" />
                <div class="panel panel-default">
                    <div class="panel-heading altoDobleHeaderPanel" style="background-color: #0B4376;height:37px;">
                        #parse("/partials/util/botonVolverAtras.vm")
                        <h4 style="text-align: center;color: #ffffff;border: none;font-weight: 400;">Promoci&oacute;n # $promocion</h4>
                    </div>
                    <div class="panel-body">
                        <div class=" row">
                            <div class="col-md-2" style=";text-align: center;">
                                <i class="material-icons altoIcono"  style="color:#cc4e4e" >dashboard</i>
                            </div>
                            <div class="col-md-10" style="text-align: left;padding-left:30px;padding-right:30px">
                                <div class="row" id="panela" style="padding-bottom:10px;">
                                    <div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                        <table  style= "width:100%;">
                                            <tr>
                                                <td align="right"  valign="top" style="padding-top:5px;" >
                                                    <h6>Denominaci&oacute;n&nbsp;:</h6>
                                                </td>
                                                <td style="padding-top:5px;width:60%;">
                                                    <h6 class="textoNegrita">
                                                        <strong>$utilToolScreen.datoVacio($datosCabeceraDpro)</strong>
                                                    </h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right"  valign="top" style="padding-top:5px;" >
                                                    <h6>Fecha Alta:</h6>
                                                </td>
                                                <td style="padding-top:5px;width:60%;">
                                                    <h6 class="textoNegrita">
                                                        <b>$utilToolScreen.datoVacio($datosCabeceraFecha)</b>
                                                    </h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right"  valign="top" style="padding-top:5px;" >
                                                    <h6>Usuario&nbsp;:</h6>
                                                </td>
                                                <td style="padding-top:5px;width:60%;">
                                                    <h6 class="textoNegrita">
                                                        <b>$datosCabeceraUserModifico</b>
                                                    </h6>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                        <table  style= "width:70%;">
                                            <tr>
                                                <td style="padding-top:0px;width:60%;">
                                                    <h6>
                                                        <select class="mdb-select md-form colorful-select dropdown-ins" id="ramosPromocion" onchange="actualizarPromocionPorRamo()">
                                                            <option value="1">Seleccione</option>
                                                        </select>
                                                        <label style="font-size:13px;">Producto</label>
                                                    </h6>
                                                </td>
                                            </tr>
                                            <tr style="display:none;">
                                                <td>
                                                    <select class="mdb-select md-form colorful-select dropdown-ins">
                                                        <option value="1">Seleccione..</option>
                                                    </select>
                                                    <label>Origen</label>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-lg-12" style="text-align: center;">
                                <button id="navbar-category-bundle-jquery" onclick="descargarExcelPromocion('$promocion');" class="btn btn-indigo btn-sm my-0 waves-effect waves-light" style="font-size:12px;background-color:#0b4376!important;border-radius:3px;" role="button">
                                    <span class="d-none d-xl-inline-block mr-1" style="color:white;font-size:11px;">Descargar</span>
                                    <i class="fas fa-download" data-toggle="tooltip" data-original-title="Big Bundle" style="color:white;font-size:13px"></i>
                                </button>
                                <button id="navsebar-category-bundle-jquery" onclick="abrirModalVisualizaciones();" class="btn btn-indigo btn-sm my-0 waves-effect waves-light" style="font-size:12px;background-color:#0b4376!important;border-radius:3px;" role="button">
                                    <span class="d-none d-xl-inline-block mr-1" style="color:white;font-size:11px;">Visualizaciones</span>
                                    <i class="fas fa-file" data-toggle="tooltip" data-original-title="Big Bundle" style="color:white;font-size:13px"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- panel D -->
                <div class="panel panel-default" id="panelDetallePago">
                    <div class="panel-heading" style="background-color:#ffffff;border-color:#ffffff;padding-top:10px;">
                        <div class="md-form md-outline pull-right form-sm" style="margin-top: 0px;margin-bottom: 0px;">
                            <input onkeyup="buscarFiltroPromocionValores('tablaBandejaPromocionValores')" id="inputPromocionValores" class="form-control form-control-sm" type="text">
                                <label for="form-sm">
                                    <i class="fas fa-search prefix" style="position:relative;top:2px;"></i>
                                </label>
                            </div>
                            <h4 style="font-weight:400;">Componentes (#if($datosValores)$datosValores.size()#else "0" #end)</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" style="text-align: left;padding-left:0px;padding-right:0px;height:155px;">
                                    <!-- pag principal -->
										<div class="col-md-12" style="text-align: left;padding-left:10px;padding-right:10px;height:155px;">
									#if($datosValores.size() != 0)
                                        <!-- pag principal -->
                                        <div class="scrollbar scrollbar-primary" id="scrollBandeja" style="height:160px;width:100%;">
                                            <table id="tablaBandejaPromocionValores" class="table table-hover table-grilla" role="table">
                                                <thead class="thead-grilla" role="rowgroup">
                                                    <tr class="tr-grilla" role="row">
                                                        <th class="th-grilla" role="columnheader">Componente</th>
                                                        <th class="th-grilla" role="columnheader">Efectiva</th>
                                                        <th class="th-grilla" role="columnheader">Hasta</th>
                                                        <th class="th-grilla" role="columnheader">Dato1</th>
                                                        <th class="th-grilla" role="columnheader">Dato2</th>
                                                        <th class="th-grilla" role="columnheader">Dato3</th>
                                                        <th class="th-grilla" role="columnheader">Dato4</th>
                                                        <th class="th-grilla" role="columnheader">Impuesto</th>
                                                        <th class="th-grilla" role="columnheader">Formula</th>
                                                        <th class="th-grilla" role="columnheader">Usuario</th>
                                                        <th class="th-grilla" role="columnheader">Min. Imponible</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="tbody-grilla" id="datosComponenteCotizacion">
                                                    #foreach($datosVal in $datosValores)	
                                                        <tr class="tr-grilla">
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacio($datosVal.componente)</h6>
                                                            </td>
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacioGuion($datosVal.feEfectiva)</h6>
                                                            </td>
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacioGuion($datosVal.feHasta)</h6>
                                                            </td>
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacioGuion($datosVal.dato1)</h6>
                                                            </td>
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacioGuion($datosVal.dato2)</h6>
                                                            </td>
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacioGuion($datosVal.dato3)</h6>
                                                            </td>
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacioGuion($datosVal.dato4)</h6>
                                                            </td>
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacioGuion($datosVal.impuesto)</h6>
                                                            </td>
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacioGuion($datosVal.formula)</h6>
                                                            </td>
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacioGuion($datosVal.usuario)</h6>
                                                            </td>
                                                            <td class="td-grilla-valorPromocionHome" role="cell">
                                                                <h6 class="textoNegrita">$utilToolScreen.datoVacioGuion($datosVal.minImponible)</h6>
                                                            </td>
                                                        </tr>
                                                    #end
                                                </tbody>
                                            </table>
                                        </div>
									#else
									<div class="col-md-12 pt-4" style="text-align:center;">
										<a >La promoci&oacute;n no posee componentes</a>
									</div>
									#end
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PANEL C -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color:#ffffff;border-color:#ffffff;">
                            <div class="row pt-2">
                                <div class="col-md-4">
                                    <h4 class="bordeFiltro" id="cantTarifas" style="font-weight:400;border-bottom-width:0px;">Tarifas (0) </h4>
                                </div>
                                <div class="col-md-4" id="tarifaSeccion">
                                    <select class="mdb-select colorful-select dropdown-ins" id="tarifasPromocion" onchange="buscarTarifasPromocion();">
                                        <option value="1">Seleccione</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-form md-outline form-sm pull-right" style="margin-top: 0px;margin-bottom: 0px;width:70%;">
                                        <input onkeyup="buscarFiltroPromocionValores('tablaBandejaPromocionTarifas')" id="inputPromocionTarifas" class="form-control form-control-sm" type="text">
                                            <label for="form-sm">
                                                <i class="fas fa-search prefix" style="position:relative;top:2px;"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="bordeFiltro"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;padding-left:10px;padding-right:10px;height:155px;">
                                        <!-- pag principal -->
										<a id="textoPanelC">Para visualizar el detalle de una tarifa, tiene que seleccionar un ramo.</a>
										
                                        <div class="scrollbar scrollbar-primary" id="scrollBandeja" style="height:160px;width:100%;">
                                            <div class="force-overflow" style="height:305px;display:none;" id="ocultarTablaPromo">
                                                <table id="tablaBandejaPromocionTarifas" class="table table-hover table-grilla" role="table">
                                                    <thead class="thead-grilla" role="rowgroup">
                                                        <tr class="tr-grilla" role="row">
                                                            <th class="th-grilla" role="columnheader"  style="width:10%;vertical-align: middle;">Fe. Efec</th>
                                                            <th class="th-grilla" role="columnheader"  style="width:10%;vertical-align: middle;">Fe. Hasta</th>
                                                            <th id="tarifaDato1" class="th-grilla" role="columnheader" style="vertical-align: middle;" >Campo1</th>
                                                            <th id="tarifaDato2" class="th-grilla" role="columnheader" style="vertical-align: middle;" >Campo2</th>
                                                            <th id="tarifaDato3"class="th-grilla" role="columnheader" style="vertical-align: middle;" >Campo3</th>
                                                            <th id="tarifaDato4" class="th-grilla" role="columnheader" style="vertical-align: middle;" >Campo4</th>
                                                            <th id="tarifaDato5" class="th-grilla" role="columnheader" style="vertical-align: middle;" >Campo5</th>
                                                            <th id="tarifaDato6" class="th-grilla" role="columnheader" style="vertical-align: middle;" >Campo6</th>
                                                            <th class="th-grilla" role="columnheader" style="vertical-align: middle;" >Suma</th>
                                                            <th class="th-grilla" role="columnheader" style="vertical-align: middle;" >Tasa</th>
                                                            <th class="th-grilla" role="columnheader" style="vertical-align: middle;" >V</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="tbody-grilla" id="datosTarifaPromocion">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PANEL B -->
                    <div class="col-sm-12 col-md-4" style="width:100%; margin-bottom: 20px;">
                        <div class="panel panel-default" style="display:table; width:100%; height:100%;">
                            <div class="panel-heading" style=" background-color:white;border-color:white;">
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        <h4 id="cantUtilPromocion" class="bordeFiltro" style="color:#00317A;font-weight:400;border-bottom: none;">Fuerza&nbsp;de&nbsp;venta&nbsp;(0)</h4>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 input-group pull-right" style="z-index:1;">
                                        <div class="md-form md-outline form-sm" style="margin-top: 0px;margin-bottom: 0px;">
                                            <input onkeyup="filtrarListaDatosPanel('inputPromocionAsignacion','cardRelacionPromocion');" id="inputPromocionAsignacion" class="form-control form-control-sm" type="text">
                                                <label for="form-sm">
                                                    <i class="fas fa-search prefix" style="position:relative;top:2px;"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="bordeFiltro"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-container page__container altoPanelB" >
                                    <div class="timeline__group" style="z-index:1;max-height:20px;">
                                        <div id="datosUtilizacionPromocion">
                                            #set($concepto = "asignaciones de fuerza de venta")
                                            #parse("partials/util/itemTimeLineVacio.vm")	
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>
#parse("partials/pes/entidades/promociones/modalPromocion/visualizacionesPromocionModal.vm")
#parse("partials/pes/entidades/promociones/modalPromocion/tarifaVentanaPromocionModal.vm")
