<a class="btn btn-default pull-left" #if($indicadorNivel3) onclick="redirectBreadCrumb('$indicadorNivel2URL')"#else onclick="redirectBreadCrumb('$indicadorNivel1URL')"#end style="font-size:14px;margin-top:1px;color:#ffffff;background:#0b4376!important;text-transform: none !important;box-shadow:none; border-color:#808080; padding-top:0px;padding-left:3px; padding-bottom:0px; border-bottom-right-radius:0px;border-top-right-radius:0px;">
						<i class="material-icons" style="vertical-align:middle; color:white; font-size:18px;" >keyboard_arrow_left</i>&nbsp;Volver
</a>