<section>
	<div class="container py-2" style = "border-radius: 7px; border-width: 1px; border-color:#414042; border-style: solid; box-shadow: 0 0 0px black;    padding:0 15px 0 15px; background:#fbfbfb;">
		
		<div class="row">
			<div class="col-md-3" style="background:#ffffff;     text-align: center;"> <i class="material-icons altoIcono"  style="color:#00317A;" >$cardPolizaIcono</i></div>
			<div class="col-md-6" style="background:#ffffff;">
				<h5 style="color:#00317A;">P&oacute;liza Nro $cardPolizaNro - $cardPolizaRamo</h5>
				<hr style="background-color: #00317A; height: 1px; border: 0; ">
				<h6><b>Asegurado :</b>&nbsp; $cardPolizaAsegurado</h6>
				<h6><b>Bien :</b>&nbsp; $cardPolizaBien</h6>
				<h6><b>Vigencia :</b>&nbsp; $cardPolizaVigencia</h6>
		</div>
        <div class="col-md-3 align-middle" style="vertical-align: middle;background:#ffffff;">
						
			<a class="btn btn-primary btn-block btn-sm" onclick="verPagarPolizaSinCliente($cardPolizaNro,$cardPolizaRamoNro,$cardPolizaSucursal)" style="cursor: pointer; margin-top: 10px; color:white;" role="button">PAGAR</a>
		    
			<a class="btn btn-primary btn-block btn-sm" onclick="verDetallePolizaSinCliente($cardPolizaNro)" style="cursor: pointer; margin-top: 15px; color:white;" role="button">DETALLES</a>
			
			<a class="btn btn-primary btn-block btn-sm" onclick="verClausulasPolizaSinCliente($cardPolizaNro,$cardPolizaRamoNro,$cardPolizaSucursal)" style="cursor: pointer; margin-top: 15px; color:white;" role="button">CLAUSULAS</a>
		</div>
      </div>
	 </div>
</section>

<br>
	