<div class="row" style="margin-bottom: 5px;">
	<div class=" col-sm-12 col-md-12" >
		<h6 style="background:#ffa1a1; color: #717173 ; text-align: center;font-size:14px; padding-top:2px;padding-bottom:2px;">PANTALLA EN DESARROLLO<br></h6>
    </div>
</div>