<section class="container-fluid">
    <div class="containerMargenes" style="padding-top:50px;" id="main">
        <div class="row">
            <!-- Cotizacion -->
            <div class=" col-sm-12 col-md-8 sin-margen-derecha" style="margin-top:30px">
                <div class="panel panel-default" style="background-color:white;border:2px solid #e9ebef">
                    <div class="panel-body">
                        <div class=" row">
                            <div class="col-md-12" style="text-align: left;padding-left:30px;padding-right:30px">
                                <h3 class="box-title pl-1 pt-4" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Datos del Riesgo</h3>
                                <div class="plan-selection">
                                    <div class="plan-data">
                                        <div class="row">
                                            <div class="col-md-4 mb-3 mt-3">
                                                <div class="md-form form-lg">
                                                    <input  type="text" value="" id="Calle" class="form-control">
                                                        <label for="nacimientoFe"  class="active">Calle</label>
</div>
                                                </div>
                                                <div class="col-md-1 mb-3 mt-3">
                                                    <div class="md-form form-lg">
                                                        <input  type="text" value="" id="Num" class="form-control">
                                                            <label for="Num"  class="active">Num</label>
</div>
                                                    </div>
                                                    <div class="col-md-1 mb-3 mt-3">
                                                        <div class="md-form form-lg">
                                                            <input  type="text" value="" id="Piso" class="form-control">
                                                                <label for="Piso"  class="active">Piso</label>
</div>
                                                        </div>
                                                        <div class="col-md-1 mb-3 mt-3">
                                                            <div class="md-form form-lg">
                                                                <input  type="text" value="" id="Depto" class="form-control">
                                                                    <label for="Depto"  class="active">Depto</label>
</div>
                                                            </div>
                                                        </div>
                                                        ##quinta fila ##
                                                        <div class="row">
                                                            <div class="col-md-3 mb-3">
                                                                <label style="color: #757575;">Provincia</label>
                                                                <select class="mdb-select  colorful-select dropdown-ins d-block w-100" searchable="Buscar.." id="country" required>
                                                                    <option value="">Seleccione</option>
                                                                    <option>Buenos Aires</option>
                                                                    <option>Capital Federal</option>
                                                                    <option>Catamarca</option>
                                                                    <option>Chaco</option>
                                                                    <option>Chubut</option>
                                                                    <option>C&oacute;rdoba</option>
                                                                    <option>Corrientes</option>
                                                                    <option>Entre Rios</option>
                                                                    <option>Formosa</option>
                                                                    <option>Jujuy</option>
                                                                    <option>La Pampa</option>
                                                                    <option>La Rioja</option>
                                                                    <option>Mendoza</option>
                                                                    <option>Misiones</option>
                                                                    <option>Neuqu&eacute;n</option>
                                                                    <option>R&iacute;o Negro</option>
                                                                    <option>Salta</option>
                                                                    <option>San Juan</option>
                                                                    <option>San Luis</option>
                                                                    <option>Santa Cruz</option>
                                                                    <option>Santa F&eacute;</option>
                                                                    <option>Santiago del Estero</option>
                                                                    <option>Tierra del Fuego</option>
                                                                    <option>Tucuman</option>
                                                                </select>
                                                                <div class="invalid-feedback">
                                                                    Por favor seleccione un plan.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 mb-3 mt-3">
                                                                <div class="md-form form-lg">
                                                                    <input  type="text" value="" id="Localidad" class="form-control">
                                                                        <label for="Localidad"  class="active">Localidad</label>
</div>
                                                                </div>
                                                                <div class="col-md-2 mb-3 mt-3">
                                                                    <div class="md-form form-lg">
                                                                        <input  type="text" value="" id="Postal" class="form-control">
                                                                            <label for="Postal"  class="active">Codigo Postal</label>
</div>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <h6 class="pl-1 pt-1 ml-3" style="font-weight: 700;color:#0b4376">Construcci&oacute;n de la casa</h6>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2 mb-3">
                                                                        <label style="color: #757575">Alarma</label>
                                                                        <select class="mdb-select  colorful-select dropdown-ins d-block w-100" id="country" required>
                                                                            <option value="">Seleccione</option>
                                                                            <option>Si</option>
                                                                            <option>No</option>
                                                                        </select>
                                                                        <div class="invalid-feedback">
                                                                            Por favor seleccione un plan.
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2 mb-3">
                                                                        <label style="color: #757575">Disyuntor</label>
                                                                        <select class="mdb-select  colorful-select dropdown-ins d-block w-100" id="country" required>
                                                                            <option value="">Seleccione</option>
                                                                            <option>Si</option>
                                                                            <option>No</option>
                                                                        </select>
                                                                        <div class="invalid-feedback">
                                                                            Por favor seleccione un plan.
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-12">
                                                                        <fieldset class="form-check mb-2 mt-4">
                                                                            <input class="form-check-input" name="group1" type="radio" id="radio1">
                                                                                <label class="form-check-label" for="radio1">Vivienda / Dpto PB</label>
</fieldset>
<fieldset class="form-check">
    <input class="form-check-input" name="group1" type="radio" id="radio2">
        <label class="form-check-label" for="radio2">Dpto 1 Piso</label>
</fieldset>
</div>
<div class="col-md-4 mb-3">
    <label style="color:#757575">Construcci&oacute;n del Techo</label>
    <select class="mdb-select  colorful-select dropdown-ins d-block w-100" id="country" required>
        <option value="">Seleccione</option>
        <option>Chapa Acanalada</option>
        <option>Hormig&oacute;n</option>
    </select>
    <div class="invalid-feedback">
        Por favor seleccione un plan.
    </div>
</div>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                        <br>
																			<br>
																				<br>
																					<br>
																						<br>
                                                                            <br>
                                                                                <br>
                                                                                    <br>
                                                                                        <button type="button" class="pull-right btn btn-indigo icono-sig" onclick="redirectDatosAcreedor();" type="submit" style="background-color: #0b4376 !important;">Siguiente&nbsp;&nbsp;
                                                                                            <i class="fas fa-angle-right" style="color:white;"></i>
                                                                                        </button>
</div>
    </div>
</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- Lista certificados - Panel B -->
                                                                <div class="col-sm-12 col-md-4 sin-margen-izq" style="width:100%;margin-top:30px;">
                                                                    <div class="panel panel-default" style="border:2px solid #e9ebef;background-color:#e9ebef;display:table; width:100%; height:100%;">
                                                                        <div class="main-container page__container" >
                                                                            <div class="widget pt-4" style="margin-bottom: 0px;padding-bottom: 0px;padding-left:10px;padding-right:10px;">
                                                                                <div class="summary-head" style="width:80%;">
                                                                                    <h4 style="border:none;color:#0b4376"  class="widget-title">Cotizaci&oacute;n (60%)</h5>
                                                                                    <span class="summary-small-text" ></span>
                                                                                </div>
                                                                                <div class="summary-price">
                                                                                    <a class="summary-text fas fa-refresh" href="/PSPES/bpba" style="color:#0b4376;font-size:15px;"></a>
                                                                                </div>
                                                                                <div class="summary-block" >
                                                                                    <div class="summary-content" style="width:100%;">
                                                                                        <div class="summary-head" style="width:80%;">
                                                                                            <h5 style="border:none;"  class="summary-title">Propuesta de Seguro</h5>
                                                                                            <span class="summary-small-text" ></span>
                                                                                        </div>
                                                                                        <div class="summary-price">
                                                                                            <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="summary-block">
                                                                                    <div class="summary-content">
                                                                                        <div class="summary-head">
                                                                                            <h5 style="border:none;"  class="summary-title"></i>
                                                                                            Datos del Solicitante</h5>
                                                                                    </div>
                                                                                    <div class="summary-price">
                                                                                        <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="summary-block">
                                                                                <div class="summary-content">
                                                                                    <div class="summary-head">
                                                                                        <h5 style="border:none;"  class="summary-title"></i>
                                                                                        Forma de Pago</h5>
                                                                                </div>
                                                                                <div class="summary-price">
                                                                                    <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="summary-block">
                                                                            <div class="summary-content">
                                                                                <div class="summary-head">
                                                                                    <h5 style="border:none;"  class="summary-title">Datos del  Riesgo</h5>
                                                                                </div>
                                                                                <div class="summary-price">
                                                                                    <a class="summary-text fas fa-edit" style="color:#13992a;font-size:20px;"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="summary-block">
                                                                            <div class="summary-content">
                                                                                <div class="summary-head">
                                                                                    <h5 style="border:none;"  class="summary-title">Datos del Acreedor Prendario</h5>
                                                                                </div>
                                                                                <div class="summary-price">
                                                                                    <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="summary-block">
                                                                            <div class="summary-content">
                                                                                <div class="summary-head">
                                                                                    <h5 style="border:none;"  class="summary-title">Fin de Cotizaci&oacute;n</h5>
                                                                                </div>
                                                                                <div class="summary-price">
                                                                                    <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
</section>
