	<input type="hidden" value="0" id="montoFinal"/>
	<input type="hidden" value="$datosCoti.esquemaA" id="esqA"/>
	<input type="hidden" value="$datosCoti.esquemaB" id="esqB"/>
	<input type="hidden" value="$datosCoti.producto" id="valorProducto"/>
	<input type="hidden" value="$datosCoti.ramo" id="valorRamo"/>
	

<form id="formularioStep3" method="post">
<section class="container-fluid">
    <div class="containerMargenes" style="padding-top:50px;" id="main">
        <div class="row">
            <div class=" col-sm-12 col-md-9 sin-margen-der" style="margin-top:50px">
                <div class="panel panel-default panel-mio">
                    <div class="panel-body">
                        <div class=" row">
                            <div class="col-md-12" style="text-align: left;padding-left:15px;padding-right:15px">
                                <h3 class="box-title pl-1 pt-1" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Datos del Bien</h3>
                                <div class="plan-selection">
                                    <div class="plan-data mt-2">
                                        <div class="row">
											#if($datosCoti.ramo == 4)
												#parse("partials/pes/cotizador/step3/automotor/cuerpoAutomotorStep3.vm")
											#else
												#parse("partials/pes/cotizador/step3/cuerpoStep3.vm")
											#end
                                        </div>
                                    </div>
                                </div>
                                ##---------------------------accerosiors-------------------------
											#if($datosCoti.ramo == 4)
												#parse("partials/pes/cotizador/step3/cuerpoAccesorioStep3.vm")
											#else
												#parse("partials/pes/cotizador/step3/cuerpoDireccion.vm")
											#end
                                    <div class="row margin-boton">
                                        <div class="col-sm-12 col-md-3">
											<a class="btn waves-effect waves-light pull-right boton-siguiente-cotizacion" onclick="volverRedirectStep2();" style="cursor: pointer; color:white; margin-top: 5px;">
                                                Volver
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-sm-12  col-md-3">
											<a class="btn waves-effect waves-light pull-right boton-siguiente-cotizacion" onclick="redirectStep4();" style="cursor: pointer; color:white; margin-top: 5px;">
												Siguiente
												<i class="material-icons right" style="color:white;">send</i>
											</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Lista certificados - Panel B -->
                #parse("partials/pes/cotizador/step0/step0CotizacionpanelBNuevaCotizacion.vm")  
            </div>
        </div>
</section>
</form>