    <section class="">
        <div class="" style="padding-top:50px;" id="main">
            <div class="row" id="rowAlto" style="margin-bottom:0px;">
                <div class=" col-sm-12 col-md-9 sin-margen-der">
                    <div class="panel-default fondo-panel-central">
                        <div class="panel-body">
                            <div class=" row" id="rowCuerpo">
                                <div class="col-md-12 fondo-cuerpo" style="background: white;">
                                    <h3 class="box-title pl-1 pt-1" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Datos Inspecci&oacute;n</h3>
                                    <div class="plan-selection">
                                        <div class="plan-data mt-2">
                                            <div class="row" style="margin-bottom:0px;">
											#parse("partials/pes/cotizador/stepInspeccion/cuerpoStepInspeccion.vm")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cuerpo-botones" style="padding-top:3px;">
                                    <div class="row" style="margin:0px !important;">
                                        <div class="col-md-3" style="text-align:center;">
                                            <a href="/PSPES/cotizacionStep8"  class="btn waves-effect waves-light boton-siguiente-cotizacion boton-volver">
                                                Volver
                                            </a>
                                        </div>
										<div class="col-md-3">
										</div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3" style="text-align:center;">
										<!-- boton de gestionar inspeccion -->
										<a class="btn waves-effect waves-light pull-right boton-siguiente-cotizacion botonInspeccion" id="enviarInspeccion" onclick="enviarInspeccion();" style="cursor: pointer; color:white; margin-top: 5px;">
                                            Siguiente
                                                <i class="material-icons right" style="color:white;">send</i>
                                        </a>
										<!-- boton de nueva inspeccion -->
										<a class="btn waves-effect waves-light pull-right boton-siguiente-cotizacion botonInspeccion" id="enviarInspeccionNueva" onclick="enviarInspeccionNueva();" style="cursor: pointer; color:white; margin-top: 5px;display:none;">
                                            Siguiente
                                                <i class="material-icons right" style="color:white;">send</i>
                                        </a>
										<!-- boton de coordinar inspeccion -->
										<a class="btn waves-effect waves-light pull-right boton-siguiente-cotizacion botonInspeccion" id="enviarInspeccionCoordinar" onclick="enviarInspeccionCoordinar();" style="cursor: pointer; color:white; margin-top: 5px;display:none;">
                                            Siguiente
                                                <i class="material-icons right" style="color:white;">send</i>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Lista certificados - Panel B -->
        #parse("partials/pes/cotizador/step6/stepEmisionPanelB.vm")
            </div>
</section>
