<div id="modalDatosDni" class="modal">
	    <div class="row" style="width:100%">
	    	<div class="col-md-12 pl-5 pr-5">
	     	 <h5>Nueva Persona Fisica</h5>
	      </div>
	     </div>
	    <div class="row pl-5 pr-5" style="width:100%">
			    <div class="input-field col-md-2">
					<input class="ingresoPersona" name="selectDni" id="personaTpDni" type="text" >
					<label for="selectDni">Tipo Dni*</label>
				</div>
			<div class="input-field  col-md-4">
				<input name="clienteDni" class="ingresoPersona" id="personaDocumento" type="text">
				<label for="personaDocumento">Numero de Documento </label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="cuit" class="ingresoPersona" id="personaCuit" type="text">
				<label for="personaCuit">Cuit / Cuil </label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="apell" class="ingresoPersona" id="perdonaApellido" type="text">
				<label for="perdonaApellido">Apellido *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="nombre" class="ingresoPersona" id="PersonaNombre" type="text">
				<label for="PersonaNombre">Nombre *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="selectGenero" class="ingresoPersona" id="PersonaGenero" type="text">
				<label for="PersonaGenero">Genero *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="fechaNac" class="ingresoPersona" id="personaNac" type="text">
				<label for="personaNac">Fecha de Nacimiento *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="nacionalidad" class="ingresoPersona" id="personaNacionalidad" type="text">
				<label for="personaNacionalidad">Nacionalidad *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="lugarNacimiento" class="ingresoPersona" id="personaLugarNac" type="text">
				<label for="personaLugarNac">Lugar de Nacimiento *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="estadoCivil" class="ingresoPersona" id="persoanEstadoCivil" type="text" >
				<label for="persoanEstadoCivil">Estado Civil *</label>
			</div>	
			<div class="input-field col-md-6">
				<input name="profesion" class="ingresoPersona" id="personaProfesion" type="text" >
				<label  for="personaProfesion">Profesi&oacute;n*</label>
			</div>
			<div class="switch col-md-5 centrar-switch">
                <label>
                 &iquest;Expuesto Politicamente?
                  <input name="checkPoliticamente" class="ingresoPersona" type="checkbox" id="pep">
                  <span class="lever"></span>
                </label>
    	  </div>
		  <div class="switch col-md-5 centrar-switch">
            <label>
             &iquest;Sujeto Obligado Art. 230?
              <input name="checkArt"  class="ingresoPersona" type="checkbox" id="art230">
              <span class="lever"></span>
            </label>
     	 </div>
		 
		  <div class="input-field col-md-12">
			<i class="fas fa-exclamation-triangle prefix icono-input"></i>
			<input id="datoError"  name="observacionIn" type="text" class="ingresoPersona">
			<label for="datoError">Observar el/los errores en los datos cargados para su revisi&oacute;n *</label>
          </div>

 </div>
    <div class="row">
    	<div class="col-md-12">
			<button href="#!" class="modal-close pull-left btn-flat">Cerrar</button>
			<button href="#!" class="modal-close pull-right btn-flat">Guardar</button>
      	</div>
      </div>
    </div>
 </div>