	<input type="hidden" name="direccionConsecutivo" class="ingresoDomicilio" value="" id="direccionConsecutivo"/>
	<input type="hidden" name="codigoUbicacion" class="ingresoDomicilio" value="" id="codigoUbicacion"/>

<div id="modalDatosDomicilio" class="modal">
	    <div class="row" style="width:100%">
	    	<div class="col-md-12 pl-5 pr-5">
	     	 <h5>Datos Domicilio</h5>
	      </div>
	     </div>
	    <div class="row pl-5 pr-5" style="width:100%">
			    <div class="input-field col-md-6">
					<input name="callePersona" id="callePersona" value="" class="ingresoDomicilio" type="text">
					<label for="callePersona">Calle</label>
				</div>
			<div class="input-field  col-md-2">
				<input name="numeroPersona" id="numeroPersona" value="" class="ingresoDomicilio" type="text">
				<label for="numeroPersona">Numero</label>
			</div>	
			<div class="input-field  col-md-2">
				<input name="pisoPersona" id="pisoPersona" value="" class="ingresoDomicilio" type="text">
				<label for="pisoPersona">Piso</label>
			</div>	
			<div class="input-field  col-md-1">
				<input name="deptoPersona" id="deptoPersona" value="" class="ingresoDomicilio" type="text">
				<label for="deptoPersona">Depto</label>
			</div>	
			<div class="input-field  col-md-1">
				<input name="unidadPersona" id="unidadPersona" value="" class="ingresoDomicilio" type="text">
				<label for="unidadPersona">Unidad</label>
			</div>	
			
			<div class="input-field  col-md-2">
				<input name="postalPersona" id="postalPersona" type="text"  >
				<label for="postalPersona">Cod P</label>
			</div>	
			
			<div class="input-field  col-md-4">
				<input name="localidadPersona" id="localidadPersona" type="text"  >
				<label for="localidadPersona">Localidad</label>
			</div>	
			
			<div class="input-field  col-md-6">
				<input name="municipioPersona" id="municipioPersona" type="text"  >
				<label for="municipioPersona">Municipio</label>
			</div>	
			
			<div class="input-field  col-md-6">
				<input name="provinciaPersona" id="provinciaPersona" type="text"  >
				<label for="provinciaPersona">Provincia</label>
			</div>	
			
			
 		</div>
    <div class="row">
    	<div class="col-md-12">
			<button href="#!" class="modal-close pull-left btn-flat">Cerrar</button>
      	</div>
      </div>
    </div>
 </div>