		<input type="hidden" value="" id="valorConz"/>
		<input type="hidden" value="" id="valorCodigo" />
	
	
	<input type="hidden" value="" name="comunicacionValor" id="comunicacionValor" class="datoComunicacion"/>
	
<div id="modalDatosTelefono" class="modal">
	    <div class="row" style="width:100%">
	    	<div class="col-md-12 pl-5 pr-5">
	     	 <h5>Datos Comunicaci&oacute;n</h5>
	      </div>
	     </div>
	    <div class="row pl-5 pr-5" style="width:100%">
			<div class="input-field  col-md-6">
				<input name="datoComunicacion" id="datoComunicacion" type="text" class="datoComunicacion">
				<label for="datoComunicacion">Dato </label>
			</div>	
			    <div class="input-field col-md-6">
					<input name="tipoComunicacion" id="tipoComunicacion" type="text"  class="datoComunicacion">
					<label for="tipoComunicacion">Comunicacion  </label>
				</div>
 		</div>
    <div class="row">
    	<div class="col-md-12">
			<button href="#!" class="modal-close pull-left btn-flat">Cerrar</button>
      	</div>
      	   	<div class="col-md-12">
			<button onclick="guardarComunicacion();" class="modal-close pull-right btn-flat">Guardar</button>
      	</div>
      </div>
    </div>
 </div>