<div id="modal1" class="modal">
	    <div class="row" style="width:100%">
	    	<div class="col-md-12 pl-5 pr-5">
	     	 <h5>Nueva Persona Fisica</h5>
	      </div>
	     </div>
	    <div class="row pl-5 pr-5" style="width:100%">
			    <div class="input-field col-md-2">
					<select  name="selectOrigenPago" aria-required="true" id="selectDni">
						<option>Dni</option>
					</select>
					<label>Tipo Dni*</label>
				</div>
			<div class="input-field  col-md-4">
				<input name="dni" id="productorLabel" type="text">
				<label for="dni">Numero de Documento </label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="cuit" id="productorLabel" type="text">
				<label for="cuit">Cuit / Cuil </label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="apell" id="productorLabel" type="text">
				<label for="apell">Apellido *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="nombre" id="productorLabel" type="text">
				<label for="nombre">Nombre *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="genero" id="productorLabel" type="text">
				<label for="genero">Genero *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="facheNac" id="productorLabel" type="text">
				<label for="facheNac">Fecha de Nacimiento *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="nacio" id="productorLabel" type="text">
				<label for="nacio">Nacionalidad *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="productorLabel" id="productorLabel" type="text">
				<label for="lugarNac">Lugar de Nacimiento *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="productorLabel" id="productorLabel" type="text">
				<label for="lugarNac">Estado Civil *</label>
			</div>	
			<div class="input-field col-md-6">
				<select  name="selectOrigenPago" aria-required="true" id="selectDni">
					<option>a</option>
					<option>b</option>
					<option>c</option>

				</select>
				<label>Profesi&oacute;n*</label>
			</div>
			<div class="switch col-md-5 centrar-switch">
                <label>
                 &iquest;Expuesto Politicamente?
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
    	  </div>
		  <div class="switch col-md-5 centrar-switch">
            <label>
             &iquest;Sujeto Obligado Art. 230?
              <input type="checkbox">
              <span class="lever"></span>
            </label>
     	 </div>
		 
		  <div class="input-field col-md-12">
			<i class="fas fa-exclamation-triangle prefix icono-input"></i>
			<input id="datoError" type="text" class="validate">
			<label for="datoError">Observar el/los errores en los datos cargados para su revisi&oacute;n *</label>
          </div>

 </div>
    <div class="row">
    	<div class="col-md-12">
			<button href="#!" class="modal-close pull-left btn-flat">Cerrar</button>
			<button href="#!" class="modal-close pull-right btn-flat">Guardar</button>
      	</div>
      </div>
    </div>
 </div>