<div id="modal1" class="modal">
	    <div class="row" style="width:100%">
	    	<div class="col-md-12 pl-5 pr-5">
	     	 <h5>Nueva Persona Fisica</h5>
	      </div>
	     </div>
	    <div class="row pl-5 pr-5" style="width:100%">
			    <div class="input-field col-md-3" onclick="ingresoNuevaPersona();">
					<select  name="selectDni" aria-required="true" id="selectDni" class="ingresoNuevaPersona">
						<option value="">Seleccione..</option>
						#foreach($datosIn in $datosDocumentos)
    						#if($datosIn.get("P_TF_CATU.CATU_TP_DOCUMENTO") == "DNI")
    							<option selected value="$datosIn.get("P_TF_CATU.CATU_TP_DOCUMENTO")">$datosIn.get("P_TF_CATU.CATU_DE_DOCUMENTO")</option>
							#else
    							<option value="$datosIn.get("P_TF_CATU.CATU_TP_DOCUMENTO")">$datosIn.get("P_TF_CATU.CATU_DE_DOCUMENTO")</option>
    						#end
						#end
					</select>
					<label>Tipo Dni*</label>
				</div>
			<div class="input-field  col-md-3">
				<input name="clienteDni" id="clienteDni" type="text" class="ingresoNuevaPersona">
				<label for="clienteDni">Numero de Documento </label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="cuit" id="cuit" type="text" class="ingresoNuevaPersona">
				<label for="cuit">Cuit / Cuil </label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="apell" id="apell" type="text" class="ingresoNuevaPersona">
				<label for="apell">Apellido *</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="nombre" id="nombre" type="text" class="ingresoNuevaPersona">
				<label for="nombre">Nombre *</label>
			</div>	
			<div class="input-field col-md-6">
				<select  name="selectGenero" aria-required="true" id="selectGenero" class="ingresoNuevaPersona">
					<option value="">Seleccione..</option>
					#foreach($datosIn in $datosGenero)
						<option value="$datosIn.get("P_TF_RV.RV_LOW_VALUE")">$datosIn.get("P_TF_RV.RV_MEANING")</option>
					#end
				</select>
				<label>Genero*</label>
			</div>	
			<div class="input-field  col-md-6">
				<input name="fechaNac" id="fechaNac" type="text" class="ingresoNuevaPersona">
				<label for="fechaNac">Fecha de Nacimiento *</label>
			</div>	
			<div class="input-field  col-md-6" onclick="cambiarSelect();">
				<select  name="nacionalidad" class="ingresoNuevaPersona" aria-required="true" id="nacionalidad">
					<option value="">Seleccione..</option>
					#foreach($datosIn in $datosPaises)
						<option value="$datosIn.get("P_TF_CAPA.CAPA_CD_PAIS")">$utilToolScreen.nombreMayuscula($datosIn.get("P_TF_CAPA.CAPA_DE_PAIS"))</option>
					#end
				</select>
				<label>Nacionalidad*</label>
			</div>	
			
			
			<div class="input-field col-md-6" onclick="cambiarSelect();">
				<select  name="lugarNacimiento" class="ingresoNuevaPersona" aria-required="true" id="lugarNacimiento">
					<option value="">Seleccione..</option>
					#foreach($datosIn in $datosLugarNacimiento)
						<option value="$datosIn.get("P_TF_CAES.CAES_CD_ESTADO")">$utilToolScreen.nombreMayuscula($datosIn.get("P_TF_CAES.CAES_DE_ESTADO"))</option>
					#end
				</select>
				<label>Lugar Nacimiento*</label>
			</div>		
			
			
					<div class="input-field col-md-6" onclick="cambiarSelect();">
				<select  name="estadoCivil" aria-required="true" id="estadoCivil" class="ingresoNuevaPersona">
					<option value="">Seleccione..</option>
					#foreach($datosIn in $datosEstadoCivil)
						<option value="$datosIn.get("P_TF_RV.RV_LOW_VALUE")">$utilToolScreen.nombreMayuscula($datosIn.get("P_TF_RV.RV_MEANING"))</option>
					#end
				</select>
				<label>Estado Civil*</label>
			</div>	
			<div class="input-field col-md-6" onclick="cambiarSelect();">
				<select  name="profesion" aria-required="true" id="profesion" class="ingresoNuevaPersona">
					<option value="">Seleccione..</option>
					#foreach($datosIn in $datosProfesiones)
						<option value="$datosIn.get("P_TF_CAPW.CAPW_CD_PROFESION")">$datosIn.get("P_TF_CAPW.CAPW_DE_PROFESION")</option>
					#end
				</select>
				<label>Profesi&oacute;n*</label>
			</div>
			<div class="switch col-md-5 centrar-switch">
                <label>
                 &iquest;Expuesto Politicamente?
                  <input name="checkPoliticamente" id="checkPoliticamente" type="checkbox" class="ingresoNuevaPersona">
                  <span class="lever"></span>
                </label>
    	  </div>
		  <div class="switch col-md-5 centrar-switch">
            <label>
             &iquest;Sujeto Obligado Art. 230?
              <input name="checkArt" id="checkArt" type="checkbox" class="ingresoNuevaPersona">
              <span class="lever"></span>
            </label>
     	 </div>
		 
		  <div class="input-field col-md-12">
			<i class="fas fa-exclamation-triangle prefix icono-input"></i>
			<input id="observacionIn" name="observacionIn" type="text">
			<label for="observacionIn">Observar el/los errores en los datos cargados para su revisi&oacute;n *</label>
          </div>

 </div>
    <div class="row">
    	<div class="col-md-12">
			<button href="#!" class="modal-close pull-left btn-flat">Cerrar</button>
			<button onclick="cargarNuevaPersona();" class="modal-close pull-right btn-flat">Guardar</button>
      	</div>
      </div>
    </div>
 </div>