 <div class="col-sm-12 col-md-3 sin-margen-izq" style="margin-top:25px;width:100%;padding-right:0px;">
            <div class="panel panel-default" style="border:2px solid #e9ebef;background-color:#e9ebef;display:table; width:100%; height:100%;padding-top: 45px !important">
               <div class="main-container page__container" >
                  <div class="widget pt-4" style="margin-bottom: 0px;padding-bottom: 0px;padding-left:10px;padding-right:10px;">
                     <div class="summary-head" style="width:100%;">
						  	   <h3 class="box-title" style="color:#0b4376;border:none;font-size:18px;line-height:1;margin-top:0px;">Datos Propuesta</h3>
						</h5>
                     </div>
                     <div class="summary-block" >
                        <div class="summary-content" style="width:100%;;margin-top:16px;">
                           <div class="summary-head" style="width:100%;">
							  <h5 style="border:none;"  class="summary-title">Resumen Cotizaci&oacute;n</h5>
							 	<h6  class="summary-title datos-cotizacion">  N&uacute;mero : <b style="color:#0b4376"> $datosCoti.cotizacion. </b> <br>
   							 	$utilToolScreen.nombreMayuscula($datosCoti.datosContacto.dni) / $utilToolScreen.nombreMayuscula($datosCoti.datosContacto.nombre). <br>
							 	$utilToolScreen.nombreMayuscula($datosCoti.datosPanelB.ramo) / $utilToolScreen.nombreMayuscula($datosCoti.datosPanelB.prod). <br>
							 	$utilToolScreen.nombreMayuscula($datosCoti.datosPanelB.medioPago) / $utilToolScreen.nombreMayuscula($datosCoti.datosPanelB.formaPago). <br>
							 	$utilToolScreen.nombreMayuscula($datosCoti.datosPanelB.annio) / $utilToolScreen.nombreMayuscula($datosCoti.datosPanelB.marca) /
								$utilToolScreen.nombreMayuscula($datosCoti.datosPanelB.modelo) / $utilToolScreen.formatearMonedaCotizador($datosCoti.datosPanelB.precioBien).
							 	 </h6>
                              <span class="summary-small-text" ></span>
                           </div>
                        </div>
                     </div>
                   		<div class="summary-block">
                        <div class="summary-content">
                           <div class="summary-head">
								<h5 style="border:none;"  class="summary-title">Plan Cotizados</h5>
										<h6  class="summary-title datos-cotizacion">
										$utilToolScreen.nombreMayuscula($datosCoti.descPlan)
										/
										#if($datosCoti.promocion == $datosCoti.promoA)
											$utilToolScreen.nombreMayuscula($datosCoti.datosPanelB.promoA)
										#elseif($datosCoti.promocion == $datosCoti.promoB)
											$utilToolScreen.nombreMayuscula($datosCoti.datosPanelB.promoB)
										#else
											$utilToolScreen.nombreMayuscula($datosCoti.datosPanelB.promoC)
										#end
										/   $utilToolScreen.formatearMonedaCotizador($datosCoti.valorPromo)
                           </div>
                           <div class="summary-price">
							 <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
							</div>
                        </div>
                     </div>
                     <div class="summary-block">
                        <div class="summary-content">
                           <div class="summary-head">
							#if($card == 0)
                              <h5 style="border:none;"  class="summary-title"></i>
                                 <b>Tomador / Asegurado</b>
                              </h5>
							#else
							  <h5 style="border:none;"  class="summary-title"></i>
                                Tomador / Asegurado
                              </h5>
							 #end
							  #if($datosCoti.datosAseg.calle.length() > 0)
							 	 <h6  class="summary-title datos-cotizacion"> 
								$datosCoti.datosAseg.dni / $datosCoti.datosAseg.calle 
								$datosCoti.datosAseg.numero / $datosCoti.datosAseg.telefono / 
								$datosCoti.datosAseg.email / $datosCoti.datosAseg.nuCuenta
							 	 </h6>
							  #end
                           </div>
                           <div class="summary-price">
							#if($card == 0)
                              <a class="summary-text fas fa-edit" style="color:#13992a;font-size:20px;"></a>
							#elseif($card < 0)
                              <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
							#else
							 <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
							 #end      
							</div>
                        </div>
                     </div>
                     <div class="summary-block">
                        <div class="summary-content">
                           <div class="summary-head">
							  #if($card == 1)
                              <h5 style="border:none;"  class="summary-title"></i>
								<b> Datos Bien </b>
                              </h5>
							  #else
								<h5 style="border:none;"  class="summary-title"></i>
									Datos Bien
						        </h5>
							  #end
							  <h6  class="summary-title datos-cotizacion"> 
							</h6>
                           </div>
                           <div class="summary-price">
							#if($card == 1)
                              <a class="summary-text fas fa-edit" style="color:#13992a;font-size:20px;"></a>
							#elseif($card < 1)
                              <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
							#else
							 <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
							#end
						   </div>
                        </div>
                     </div>
                     <div class="summary-block">
                        <div class="summary-content">
                           <div class="summary-head">
							#if($card == 2)
                              <h5 style="border:none;"  class="summary-title"><b>Datos Complementarios</b></h5>
							#else
								<h5 style="border:none;"  class="summary-title">Datos Complementarios</h5>
							#end
                           </div>
                           <div class="summary-price">
							#if($card == 2)
                              <a class="summary-text fas fa-edit" style="color:#13992a;font-size:20px;"></a>
							#elseif($card < 2)
                              <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
							#else
							 <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
							#end             
							</div>
                        </div>
                     </div>
                     <div class="summary-block">
                        <div class="summary-content">
                           <div class="summary-head">
							#if($card == 3)
                              <h5 style="border:none;"  class="summary-title"><b>Fin Emisi&oacute;n</b></h5>
							#else
								<h5 style="border:none;"  class="summary-title">Fin Emisi&oacute;n</h5>
							#end
                           </div>
                           <div class="summary-price">
							#if($card == 3)
                              <a class="summary-text fas fa-edit" style="color:#13992a;font-size:20px;"></a>
							#elseif($card < 3)
                              <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
							#else
							 <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
							#end             
							</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>