.programa ul {
    margin-left: -49px;

}
.programa li {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
  cursor:pointer;
    
}

/*
.programa li::before {
    position: absolute;
    content: " ";
    width: 25px;
    height: 25px;
    background: url(/PSPES/resources/img/rector/contrato.png);
     background-repeat: no-repeat;
    left: 0;
    top: 0;
 
}
*/
.programa li.cualitativo::before {

     position: absolute;
    content: " ";
    width: 25px;
    height: 25px;
    background: url(/PSPES/resources/img/rector/contrato.png);
     background-repeat: no-repeat;
    left: 2px;
    top: 0;
}
.programa li.anulacion::before {

     position: absolute;
    content: " ";
    width: 25px;
    height: 25px;
    background: url(/PSPES/resources/img/rector/anulacion.png);
     background-repeat: no-repeat;
    left: 0px;
    top: 0px;
}
.programa li.cuantitativo::before {

    position: absolute;
    content: " ";
    width: 25px;
    height: 25px;
    background: url(/PSPES/resources/img/rector/money.png);
     background-repeat: no-repeat;
    left: 0;
    top: 0;
}
.programa li.inicio::before {

    position: absolute;
    content: " ";
    width: 25px;
    height: 25px;
    background: url(/PSPES/resources/img/rector/circulo-relleno.png);
     background-repeat: no-repeat;
    left: 3px;
    top: 0;
}
.programa ul::before {
    position: absolute;
    content: ' ';
    width: 5px;
    height: 90%;
    background-color: #e9e9e9;
    left: 51px;
    
}
/*
.programa li:first-child::before,
.programa li:last-child::before {
    background-image: url(/PSPES/resources/img/rector/money.png);
    background-repeat: no-repeat;
}*/
@media screen and (max-width: 767px){
	li .charla img {
	   display: none;
	}
}
