<section class="container-fluid">
    <div class="containerMargenes" style="padding-top:50px;" id="main">
        <div class="row">
            <!-- Cotizacion -->
            <div class=" col-sm-12 col-md-8 sin-margen-derecha" style="margin-top:30px">
                <div class="panel panel-default" style="background-color:white;">
                    <div class="panel-body">
                        <div class=" row">
                            <div class="col-md-12" style="text-align: left;padding-left:30px;padding-right:30px">
                                <h3 class="box-title pl-1 pt-4" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Nueva Propuesta de seguros</h3>
                                <br>
                                    <br>
                                        <div class="plan-selection">
                                            <div class="plan-data">
                                                <div class="row">
                                                    <h6 class="pl-3 pr-3">El que suscribe solicita su incorporaci&oacute;n al Seguro "Hogar" contratado por el BANCO DE LA PROVINCIA DE BUENOS AIRES, con PROVINCIA SEGUROS S.A. cubriendo el riesgo
                                                        Combinado Familiar, y en un todo de acuerdo con las Condiciones Generales y Especiales de la P&oacute;liza que declaro conocer; suministrando al efecto los siguientes datos. 
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                            <br>
                                                #* aca van los productos *#
                                                <div class="plan-selection">
                                                    <div class="plan-data">
                                                        <div class="row">
															<!-- Compra protegida -->
														<div class="col-sm-4 col-md-2">
															<!-- cara de la card -->
															<div class="card-wrapper" onclick="actualizarPorciento('20');">
																<div id="card-1" class="card card-rotating text-center" style="width:100%;height:0%;">
																	<!-- Front Side -->
																	<div class="face front rotate-btn" data-card="card-1" style="cursor:pointer;">
																		<!-- Avatar -->
																		<a class="iconoCard material-icons tituloCard p-1" style="color:white;">lock</a>
																	<div class="card-body cuerpoCard" style="padding-left:5px;padding-right:5px;height:56px;">
																	<h6 class="rotate-btn card-text"><strong>Compra Protegida</strong></h6>
                                                                 </div>
															</div>
                                                                
                                                                            <!-- atras de la card  -->
															<div class="face back rotate-btn" data-card="card-1" style="cursor:pointer;">
																<div class="card">
																	<a class=" iconoCard material-icons tituloCard p-1"  style="background-color:#0b4376;color:white;">lock</a>
																<div class="card-body cuerpoCardAtras">
																	<h6 class=" card-text"><strong>Compra Protegida</strong></h6>
																	<i class="fas fa-check checkVerde"></i>
																</div>
																</div>
															</div>
														</div>
                                                       </div>
													    </div>
														
														
																	<!-- Consumo Garantizado -->
														<div class="col-md-2">
															<!-- cara de la card -->
                                                                            <div class="card-wrapper" onclick="actualizarPorciento('20');">
                                                                              <div id="card-2" class="card card-rotating text-center" style="width:100%;height:0%;">
                                                                                <!-- Front Side -->
                                                                                <div class="face front rotate-btn" data-card="card-2" style="cursor:pointer;">
                                                                                  <!-- Avatar -->
                                                                                <a class="iconoCard material-icons tituloCard p-1" style="color:white;">credit_card</a>
                                                                                <div class="card-body cuerpoCard" style="padding-left:5px;padding-right:5px;height:56px;">
                                                                                    <h6 class="rotate-btn card-text"><strong>Consumo Garantizado</strong></h6>
                                                                            </div>
                                                                         </div>
                                                                
                                                                            <!-- atras de la card  -->
                                                                            <div class="face back rotate-btn" data-card="card-2" style="cursor:pointer;">
                                                                              
                                                                             <div class="card">
                                                                            <a class=" iconoCard material-icons tituloCard p-1"  style="background-color:#0b4376;color:white;">credit_card</a>
                                                                            <div class="card-body cuerpoCardAtras">
                                                                                <h6 class=" card-text"><strong>Consumo Garantizado</strong></h6>
																				<i class="fas fa-check" style="color:green;position: relative;left: 52px;font-size: 23px;bottom: 14px;"></i>
                                                                            </div>
                                                                        </div>
                                                                     </div>
                                                                        
                                                                  </div>
                                                                </div>

																
														</div>
																		<!-- Bolso Protegido -->
														<div class="col-md-2">
															<!-- cara de la card -->
                                                                            <div class="card-wrapper" onclick="actualizarPorciento('20');">
                                                                              <div id="card-8" class="card card-rotating text-center" style="width:100%;height:0%;">
                                                                                <!-- Front Side -->
                                                                                <div class="face front rotate-btn" data-card="card-8" style="cursor:pointer;">
                                                                                  <!-- Avatar -->
                                                                                <a class="iconoCard material-icons tituloCard p-1" style="color:white;">work</a>
                                                                                <div class="card-body cuerpoCard" style="padding-left:5px;padding-right:5px;height:56px;">
                                                                                    <h6 class="rotate-btn card-text" data-card="card-8"><strong>Bolso Protegido</strong></h6>
                                                                                </div>
                                                                         </div>
                                                                
                                                                            <!-- atras de la card  -->
                                                                            <div class="face back rotate-btn" data-card="card-8" style="cursor:pointer;">
                                                                              
                                                                             <div class="card">
                                                                            <a class=" iconoCard material-icons tituloCard p-1"  style="background-color:#0b4376;color:white;">work</a>
                                                                            <div class="card-body cuerpoCardAtras">
                                                                                <h6 class=" card-text" data-card="card-8"><strong>Bolso Protegido</strong></h6>
																				<i class="fas fa-check checkVerde"></i>
                                                                            </div>
                                                                        </div>
                                                                     </div>
                                                                        
                                                                  </div>
                                                                </div>

																
														</div>
																		<!-- Accidentes personales -->
														<div class="col-md-2">
															<!-- cara de la card -->
                                                                            <div class="card-wrapper" onclick="actualizarPorciento('20');">
                                                                              <div id="card-5" class="card card-rotating text-center" style="width:100%;height:0%;">
                                                                                <!-- Front Side -->
                                                                                <div class="face front rotate-btn" data-card="card-5" style="cursor:pointer;">
                                                                                  <!-- Avatar -->
                                                                                <a class="iconoCard material-icons tituloCard p-1" style="color:white;">local_hospital</a>
                                                                                <div class="card-body cuerpoCard" style="padding-left:5px;padding-right:5px;height:56px;">
                                                                                    <h6 class="rotate-btn card-text"><strong>Accidentes Personales</strong></h6>
                                                                                </div>
                                                                         </div>
                                                                
                                                                            <!-- atras de la card  -->
                                                                            <div class="face back rotate-btn" data-card="card-5" style="cursor:pointer;">
                                                                              
                                                                             <div class="card">
                                                                            <a class=" iconoCard material-icons tituloCard p-1"  style="background-color:#0b4376;color:white;">local_hospital</a>
                                                                            <div class="card-body cuerpoCardAtras">
                                                                                <h6 class=" card-text"><strong>Accidentes Personales</strong></h6>
																				<i class="fas fa-check checkVerde"></i>
                                                                            </div>
                                                                        </div>
                                                                     </div>
                                                                        
                                                                  </div>
                                                                </div>

																
														</div>
														
														
																				<!-- vida  -->
																	<div class="col-md-2">
															<!-- cara de la card -->
                                                                            <div class="card-wrapper" onclick="actualizarPorciento('20');">
                                                                              <div id="card-6" class="card card-rotating text-center" style="width:100%;height:0%;">
                                                                                <!-- Front Side -->
                                                                                <div class="face front rotate-btn" data-card="card-6" style="cursor:pointer;">
                                                                                  <!-- Avatar -->
                                                                                <a class="iconoCard material-icons tituloCard p-1" style="color:white;">person</a>
                                                                                <div class="card-body cuerpoCard" style="padding-left:5px;padding-right:5px;height:56px;">
                                                                                    <h6 class="rotate-btn card-text"><strong>Vida</strong></h6>
                                                                                </div>
                                                                         </div>
                                                                
                                                                            <!-- atras de la card  -->
                                                                            <div class="face back rotate-btn" data-card="card-6" style="cursor:pointer;">
                                                                              
                                                                             <div class="card">
                                                                            <a class=" iconoCard material-icons tituloCard p-1"  style="background-color:#0b4376;color:white;">person</a>
                                                                            <div class="card-body cuerpoCardAtras" style="width:110px;">
                                                                                <h6 class=" card-text"><strong>Vida</strong></h6>
																				<i class="fas fa-check checkVerde"></i>
                                                                            </div>
                                                                        </div>
                                                                     </div>
                                                                        
                                                                  </div>
                                                                </div>

																
														</div>
														
														<!-- hasta aca -->														
														
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                    <br>
                                                        <br>
                                                            <br>
                                                                <br>
                                                                    <br>
                                                                        <br>
                                                                            <br>
                                                                                <br>
                                                                                    <br>
                                                                                        <br>
                                                                                            <br>
                                                                                                <br>
                                                                                                    <br>
                                                                                                        <br>
                                                                                                            <button type="submit" onclick="redirectPdfVidaDatos();" style="background-color: #0b4376 !important;"  class="pull-right icono-sig btn btn-indigo waves-effect waves-light">Siguiente&nbsp;&nbsp;
                                                                                                                <i class="fas fa-angle-right" style="color:white;"></i>
                                                                                                            </button>
</div>
</div>
</div>
</div>
</div>
<!-- Lista certificados - Panel B -->
<div class="col-sm-12 col-md-4 sin-margen-izq" style="margin-top:30px;width:100%;">
    <div class="panel panel-default " style="border:2px solid #e9ebef;background-color:#e9ebef;display:table; width:100%; height:100%;">
        <div class="main-container page__container" >
            <div class="widget pt-4" style="margin-bottom: 0px;padding-bottom: 0px;padding-left:10px;padding-right:10px;">
                <div class="summary-head" style="width:80%;">
                    <h4 style="border:none;color:#0b4376" id="porcentajeTitulo" class="widget-title">Cotizaci&oacute;n (0%)</h5>
                    <span class="summary-small-text" ></span>
                </div>
                <div class="summary-price">
                    <a class="summary-text fas fa-refresh" href="/PSPES/bpba" style="color:#0b4376;font-size:15px;"></a>
                </div>
                <div class="summary-block" >
                    <div class="summary-content" style="width:100%;">
                        <div class="summary-head" style="width:80%;">
                            <h5 style="border:none;"  class="summary-title">Propuesta de Seguro</h5>
                            <span class="summary-small-text" ></span>
                        </div>
                        <div class="summary-price">
                            <a class="summary-text fas fa-edit" style="color:#13992a;font-size:20px;"></a>
                        </div>
                    </div>
                </div>
                <div class="summary-block">
                    <div class="summary-content">
                        <div class="summary-head">
                            <h5 style="border:none;"  class="summary-title"></i>
                            Datos del Solicitante</h5>
                    </div>
                    <div class="summary-price">
                        <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
                    </div>
                </div>
            </div>
            <div class="summary-block">
                <div class="summary-content">
                    <div class="summary-head">
                        <h5 style="border:none;"  class="summary-title"></i>
                        Forma de Pago</h5>
                </div>
                <div class="summary-price">
                    <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
                </div>
            </div>
        </div>
        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head">
                    <h5 style="border:none;"  class="summary-title">Datos del  Riesgo</h5>
                </div>
                <div class="summary-price">
                    <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
                </div>
            </div>
        </div>
        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head">
                    <h5 style="border:none;"  class="summary-title">Datos del Acreedor Prendario</h5>
                </div>
                <div class="summary-price">
                    <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
                </div>
            </div>
        </div>
        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head">
                    <h5 style="border:none;"  class="summary-title">Fin de Cotizaci&oacute;n</h5>
                </div>
                <div class="summary-price">
                    <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</section>
