<section class="container-fluid">
    <div class="containerMargenes" style="padding-top:50px;" id="main">
        <div class="row">
            <!-- Cotizacion -->
            <div class=" col-sm-12 col-md-8 sin-margen-derecha"  style="margin-top:30px">
                <div class="panel panel-default" style="background-color:white;border:2px solid #e9ebef">
                    <div class="panel-body">
                        <div class=" row">
                            <div class="col-md-12" style="text-align: left;padding-left:30px;padding-right:30px">
                                <h3 class="box-title pl-1 pt-4" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Fin del la cotizaci&oacute;n</h3>
                                        <div class="plan-selection">
                                            <div class="plan-data">
                                                <div class="row">
													
													<div class="col-md-12 mt-3">
														<br>
												<br>
													<br>
													<h4 style="border:none;">Se a generado el n&uacute;mero de nid : <b>89817253</b>, y el n&uacute;mero de secuencia : <b>981623</b></h4>
                                                    <h4 style="border:none;"> Gracias por realizar la cotizaci&oacute;n.</h4>
													
													</div>
														
                                                 </div>
											</div>
                                          </div>
										  <br>
											
														<br>
															<br>
																<br>
																	<br>
																		<br>
																			<br>
																				<br>
																					<br>
																						<br>
																							<br>
																								<br>
																									<br>
																										<br>
																											<br>
																												<br>
																													<br>
																														<br>
																															<br>
                                                                <button type="button" class="pull-left btn btn-indigo icono-sig" onclick="redirectPdfVida();" type="submit" style="background-color: #0b4376 !important;width:205px !important">Nueva Cotizacion&nbsp;&nbsp;
																	<i class="fas fa-plus" style="color:white;"></i>
																</button>
																<button type="button" class="pull-right btn btn-indigo icono-sig" onclick="redirectHomeBpba();" type="submit" style="background-color: #0b4376 !important;">Inicio&nbsp;&nbsp;
                                                                    <i class="fas fa-angle-right" style="color:white;"></i>
                                                                </button>
															</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Lista certificados - Panel B -->
                                            <div class="col-sm-12 col-md-4 sin-margen-izq" style="width:100%;margin-top:30px;">
                                                <div class="panel panel-default" style="border:2px solid #e9ebef;background-color:#e9ebef;display:table; width:100%; height:100%;">
                                                    <div class="main-container page__container" >
                                                        <div class="widget pt-4" style="margin-bottom: 0px;padding-bottom: 0px;padding-left:10px;padding-right:10px;">
                                                            <div class="summary-head" style="width:80%;">
                                                                <h4 style="border:none;color:#0b4376"  class="widget-title">Cotizaci&oacute;n (100%)</h5>
                                                                <span class="summary-small-text" ></span>
                                                            </div>
                                                            <div class="summary-price">
                                                                <a class="summary-text fas fa-refresh" href="/PSPES/bpba" style="color:#0b4376;font-size:15px;"></a>
                                                            </div>
                                                            <div class="summary-block" >
                                                                <div class="summary-content" style="width:100%;">
                                                                    <div class="summary-head" style="width:80%;">
                                                                        <h5 style="border:none;"  class="summary-title">Propuesta de Seguro</h5>
                                                                        <span class="summary-small-text" ></span>
                                                                    </div>
                                                                    <div class="summary-price">
                                                                        <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="summary-block">
                                                                <div class="summary-content">
                                                                    <div class="summary-head">
                                                                        <h5 style="border:none;"  class="summary-title"></i>
                                                                        Datos del Solicitante</h5>
                                                                </div>
                                                                <div class="summary-price">
                                                                    <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="summary-block">
                                                            <div class="summary-content">
                                                                <div class="summary-head">
                                                                    <h5 style="border:none;"  class="summary-title"></i>
                                                                    Forma de Pago</h5>
                                                            </div>
                                                            <div class="summary-price">
                                                                <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="summary-block">
                                                        <div class="summary-content">
                                                            <div class="summary-head">
                                                                <h5 style="border:none;"  class="summary-title">Datos del  Riesgo</h5>
                                                            </div>
                                                            <div class="summary-price">
                                                                <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="summary-block">
                                                        <div class="summary-content">
                                                            <div class="summary-head">
                                                                <h5 style="border:none;"  class="summary-title">Datos del Acreedor Prendario</h5>
                                                            </div>
                                                            <div class="summary-price">
                                                                <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="summary-block">
                                                        <div class="summary-content">
                                                            <div class="summary-head">
                                                                <h5 style="border:none;"  class="summary-title">Fin de Cotizaci&oacute;n</h5>
                                                            </div>
                                                            <div class="summary-price">
                                                                <a class="summary-text fas fas fa-edit" style="color:#13992a;font-size:20px;"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
</div>
</div>
                            </div>
</section>
