#set ($indicadorClienteParametro = 'Provincia Enterprise System')

#set ($templateWeb = 'partials/pes/entidades/cliente/clienteHome.vm')

#parse("partials/pes/templates/principal/mainTemplateWeb.vm")	  