
<section class="container-fluid">

 <div class="containerMargenes" id="main">
    <div class="row">
    
    <!-- POLIZA -->
       <div class=" col-sm-12 col-md-8">
	    #foreach($clienteIn in $clienteDato)
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: #0B4376;height:37px;">
			<input type="hidden" value="$clienteIn.get("P_TF_CLIE.CACN_NU_CEDULA_RIF")" id="valorCliente" />
			<input type="hidden" value="" id="datoTmp" />
			<input type="hidden" value="0" id="mostrarContactoModal"/>

			#parse("/partials/util/botonVolverAtras.vm")
          <a id="verMasPanelA" class="pull-right" style=" cursor:pointer;color: aliceblue;" onclick="mostrarPoliza('panela','panelb','verMasPanelA');">Ver menos</a>
          <h4 style="text-align:center;color: #ffffff;">Cliente #$utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.CACN_NU_CEDULA_RIF"))</h4>
          </div>
   			<div class="panel-body">
				<div class=" row">
   					<div class="col-md-2" style=";text-align: center;"> 
   					<i class="material-icons altoIcono"  style="color:#ed9c28;" >&#xe7fb;</i>
   					</div>
   				  	<div class="col-md-10" style="text-align: left;padding-left:30px;padding-right:30px">
              		
              		<!-- pag principal -->
              		
          	 			<div class="row" id="panela" style="display:none;">
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
                         		
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Cliente&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.nombreMayuscula($clienteIn.get("P_TF_CLIE.INB_NOMBRE")))</b></h6></td>
                           		</tr>
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Nro&nbsp;Persona&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.CABU_NU_PERSONA")))</b></h6></td>
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Documento&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($clienteIn.get("P_TF_CLIE.CABU_CATU_TP_DOCUMENTO"), $clienteIn.get("P_TF_CLIE.CABU_NU_DOCUMENTO") , "-")</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Cuit&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($clienteIn.get("P_TF_CLIE.CABU_NU_CUIT"))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Tipo&nbsp;Cliente&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($clienteIn.get("P_TF_CLIE.INB_CATZ_RAZON_SOCIAL"))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="position:relative;padding-top:5px;"><h6>Nacionalidad&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.INB_NACIONALIDAD")))</b></h6></td>
                           		</tr>
                           	 </table> 
                           	      
              			  </div>
           		<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Fecha&nbsp;Alta&nbsp;:</h6></td>
                           		<td style="padding-top:5px; width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ocultarNulo($utilToolScreen.formatearFecha($clienteIn.get("P_TF_CLIE.CABU_FE_ALTA"))))</b></h6></td>
                           		
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Fecha&nbsp;Baja&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ocultarNulo($utilToolScreen.formatearFecha($clienteIn.get("P_TF_CLIE.CABU_FE_BAJA"))))</b></h6></td>
                           	
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Nro&nbsp;Cedula&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.CACN_NU_CEDULA_RIF")))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>C&oacute;digo&nbsp;de&nbsp;Usuario&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($clienteIn.get("P_TF_CLIE.CABU_CAUS_CD_USUARIO"))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Categoria&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($clienteIn.get("P_TF_CLIE.INB_DE_CATEGORIA"))</b></h6></td>
                           		</tr>
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Fecha de Nacimiento&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.formatearFecha($clienteIn.get("P_TF_CLIE.CABU_FE_NACIMIENTO")))</b></h6></td>
                           		</tr>
								
								
								
                           	 </table> 
                           	      
              			  </div>
    					</div>            
    			<!-- pag oculta -->
    					
    			
    				<div class="row" id="panelb">
    					
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
                         		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Cliente&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.nombreMayuscula($clienteIn.get("P_TF_CLIE.INB_NOMBRE")))</b></h6></td>
                           		</tr>
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Nro&nbsp;Persona&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.CABU_NU_PERSONA")))</b></h6></td>
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Documento&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($clienteIn.get("P_TF_CLIE.CABU_CATU_TP_DOCUMENTO"), $clienteIn.get("P_TF_CLIE.CABU_NU_DOCUMENTO") , "-")</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Cuit&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($clienteIn.get("P_TF_CLIE.CABU_NU_CUIT"))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Tipo&nbsp;Cliente&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($clienteIn.get("P_TF_CLIE.INB_CATZ_RAZON_SOCIAL"))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="position:relative;padding-top:5px;"><h6>Nacionalidad&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.INB_NACIONALIDAD")))</b></h6></td>
                           		</tr>
                           	 </table> 
                           	      
              			  </div>
              			  
             				 <div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  								<table  style= "width:100%;">
                         		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Fecha&nbsp;Alta&nbsp;:</h6></td>
                           		<td style="padding-top:5px; width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ocultarNulo($utilToolScreen.formatearFecha($clienteIn.get("P_TF_CLIE.CABU_FE_ALTA"))))</b></h6></td>
                           		
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Fecha&nbsp;Baja&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ocultarNulo($utilToolScreen.formatearFecha($clienteIn.get("P_TF_CLIE.CABU_FE_BAJA"))))</b></h6></td>
                           	
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Nro&nbsp;Cedula&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.CACN_NU_CEDULA_RIF")))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>C&oacute;digo&nbsp;de&nbsp;Usuario&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($clienteIn.get("P_TF_CLIE.CABU_CAUS_CD_USUARIO"))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Categoria&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($clienteIn.get("P_TF_CLIE.INB_DE_CATEGORIA"))</b></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Fecha de Nacimiento&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.formatearFecha($clienteIn.get("P_TF_CLIE.CABU_FE_NACIMIENTO")))</b></h6></td>
                           		</tr>
                           	 </table> 
                           	      
              			  </div>
              			  
                       <hr style="margin-top:5px;margin-bottom:5px;width:100%;">
                       
          				<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
                         		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Actualizaci&oacute;n&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ocultarNulo($utilToolScreen.formatearFecha($clienteIn.get("P_TF_CLIE.CABU_FE_ACTUALIZACION")))) a las $utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.CABU_HR_ACTUALIZACION")))</b></h6></td>
                           		</tr>
                           	 
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Razon&nbsp;Social&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.INB_CATZ_RAZON_SOCIAL")))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Organismo&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.INB_TIPO_ORGANISMO")))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Nro&nbsp;Proveido&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.CACN_NU_CEDULA_RIF")))</b></h6></td>
                           		</tr>
                           	 </table> 
                           	      
              			  </div>
              			  
           				 <div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table style= "width:100%;">
                         		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Estado&nbsp;Civil&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.INB_ESTADO_CIVIL")))</b></h6></td>
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Anulacion&nbsp;Corrida:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.CACN_IN_ANULACION_CORRIDA")))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Bloqueo&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.CACN_FE_BLOQUEO")))</b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Ingreso&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($clienteIn.get("P_TF_CLIE.CACN_CRIB_CD_INGRESO")))</b></h6></td>
                           		</tr>
                           		
                           	 </table> 
                           	      
					<br><br>
              			  </div>
    				</div> 
    					
    			<!-- aca termina -->
					  </div>
       			    </div>
		 
					 			<div class="row" style="margin-top:15px;">
					     <div class="col-lg-12" style="text-align: center;">
					
							<a class="btn btn-panela-poliza  btn-social btn-bitbucket  material-icons contactoBotonHoover"  data-placement="bottom" data-toggle="tooltip" title="Contacto" onclick="verDatosContactoPorCliente();" style="margin-right:5px;font-size:20px; margin-top:5px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#ffffff;background-color:#f0ad4e">email</a>
							<a class="btn btn-panela-poliza  btn-social btn-bitbucket  material-icons remesaBotonHoover"  data-placement="bottom" data-toggle="tooltip" title="Detalle Remesa" onclick="verDatosDetalleRemesaPorCliente();" style="margin-right:5px;font-size:20px; margin-top:5px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#ffffff;background-color:#0b4376">autorenew</a>

						 </div>
					</div>	 
					 
					 
        		 </div>
   			</div>
 #end
   		
   		<!-- ENDOSO -->
   		
      		<div class="panel panel-default" id="endoso" style="display:none;">
      	    <div class="panel-heading" style="background-color:#ffffff;border-color:#ffffff;">
      	    <a style="cursor:pointer;" id="verMasPanelC" class="pull-right" onclick="mostrarPoliza('panelc','paneld','verMasPanelC');">Ver mas</a> 
      	    <h4 id="labelPanelEndoso">Poliza #1</h4>
      	    </div>	
   			
						<input type="hidden" value="" id="productorClienteHome" />
						<input type="hidden" value="" id="sucursalClienteHome" />

			
   			<div class="panel-body">
               	<div class="row">
               	<div class="col-md-2" style=";text-align: center;" id="panelImagenEndoso">
					<img id="imgCliente" />
				</div>
          	 	  <div class="col-md-10" style="text-align: left;padding-left:30px;padding-right:30px">
          	 	  
          	
          	 	  
          	 	 <!-- pag principal -->
              		
          	 			<div class="row" id="panelc">
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                      <table  style= "width:100%;">
                         		
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Ramo&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_CLIENTE_P_TF_POLI_INB_DSP_RAMO"><b></b></h6></td>
                           		</tr>
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Situac&oacute;on&nbsp;P&oacute;liza&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_POLI_INB_DSP_ESTADO"><b></b></h6></td>
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Fecha&nbsp;Emisi&oacute;n&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_CACE_FE_SUSCRIPCION"><b></b></h6></td>
                           		</tr>
                           		
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Vigencia&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;">
    										 <h6 id="INFO_FECHA_DESDE_B_P_TF_POLI_CACE_FE_DESDE" style="float:left;"> </h6>
    										 <h6 id="INFO_P_TF_POLI_CACE_FE_HASTA" style="float:left;"> </h6>
    								</td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>P&oacute;liza&nbsp;Anterior&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_CAPO_NU_POLIZA_ANTERIOR"><b></b></h6></td>
                           		</tr>
									<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>P&oacute;liza&nbsp;Siguiente&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_CAPO_NU_POLIZA_SIGUIENTE"><b></b></h6></td>
                           		</tr>
								
								
										   	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Medio de Pago :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_PLAN_PAGO_A"><b></b></h6></td>
                           		</tr>
								
								
								   	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Origen de Pago :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_ORIGEN_PAGO_A"><b></b></h6></td>
                           		</tr>
								
						
								
                           		
                           	 </table> 
                           	      
              			  </div>
           		<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  					<table  style= "width:100%;">

								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Productor&nbsp;:</h6></td>
                           		<td style="padding-top:0px;width:60%;"><h6 onClick="abrirpopUpClienteProductor();" style="cursor:pointer;color:#6fa1d4;" id="INFO_CLIENTE_B_P_TF_POLI_INB_DSP_PRODUCTOR"><b></b></h6></td>
                           		</tr>
                           		
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Sucursal&nbsp;:</h6></td>
                           		<td  valign="top" style="padding-top:0px;"><h6 onClick="abrirpopUpClienteSucursal();" style="cursor:pointer;color:#6fa1d4;" id="INFO_CLIENTE_P_TF_POLI_INB_DSP_SUCURSAL"><b></b></h6></td>
                           		</tr>
                           		
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Facturaci&oacute;n&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_TP_FACTURACION"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Moneda&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_CAMO_SM_MONEDA"><b></b></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Promoci&oacute;n&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_PROMOCION"><b></b></h6></td>
                           		</tr>
                           		
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Plan de Pago :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_FRAGMENT"><b></b></h6></td>
                           		</tr>
								
                           	 </table> 
    					</div>
					</div>       
    					     
    			<!-- pag oculta -->
    					
    					
    					<div class="row" id="paneld" style="display:none;">
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
                       		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Ramo&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_CLIENTE_B_P_TF_POLI_INB_DSP_RAMO"><b></b></h6></td>
                           		</tr>
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Situacion&nbsp;P&oacute;liza&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_PANEL_2_P_TF_POLI_INB_DSP_ESTADO"><b></b></h6></td>
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Fecha&nbsp;Emisi&oacute;n&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_POLI_CACE_FE_SUSCRIPCION"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Vigencia&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;">
    										 <h6 id="INFO_FECHA_DESDE_P_TF_POLI_CACE_FE_DESDE" style="float:left;"> </h6>
    										 <h6 id="INFO_PANEL_2_P_TF_POLI_CACE_FE_HASTA" style="float:left;"> </h6>
    								</td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>P&oacute;liza&nbsp;Anterior&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_POLI_CAPO_NU_POLIZA_ANTERIOR"><b></b></h6></td>
                           		</tr>
									<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>P&oacute;liza&nbsp;Siguiente&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_POLI_CAPO_NU_POLIZA_SIGUIENTE"><b></b></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Medio de Pago :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_PLAN_PAGO_B"><b></b></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Origen de Pago :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_ORIGEN_PAGO_B"><b></b></h6></td>
                           		</tr>
								
						
                           		
                           	 </table> 
                           	      
              			  </div>
              			  
             				 <div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  								<table  style= "width:100%;">
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Productor&nbsp;:</h6></td>
                           		<td style="padding-top:0px;width:60%;"><h6 onClick="abrirpopUpClienteProductor();" style="cursor:pointer;color:#6fa1d4;" id="INFO_CLIENTE_P_TF_POLI_INB_DSP_PRODUCTOR"><b></b></h6></td>
                           	
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Sucursal&nbsp;:</h6></td>
                           		<td  valign="top" style="padding-top:0px;"><h6 onClick="abrirpopUpClienteSucursal();" style="cursor:pointer;color:#6fa1d4;" id="INFO_CLIENTE_B_P_TF_POLI_INB_DSP_SUCURSAL"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Facturaci&oacute;n&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_POLI_INB_TP_FACTURACION"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Moneda&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_POLI_CAMO_SM_MONEDA"><b></b></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Promoci&oacute;n&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_POLI_INB_PROMOCION"><b></b></h6></td>
                           		</tr>
		
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Plan de Pago :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_POLI_INB_FRAGMENT"><b></b></h6></td>
                           		</tr>
                           		
                           	 </table> 
                           	      
              			  </div>
              			  
                       <hr style="margin-top:5px;margin-bottom:5px;width:100%;">
                       
                       <!-- datos agregados -->
          				<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
                         		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Nro&nbsp;P&oacute;liza&nbsp;Digital&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_POLI_CAPO_NU_SEGUIMIENTO_SSN"><b></b></h6></td>
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Negocio&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_TP_NEGOCIO"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Refacturac&oacute;on&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_IN_REFACTURACION"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Nro&nbsp;Expediente&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_CPEX_NU_EXPEDIENTE"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Nro&nbsp;Proveido&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_NRO_PROVEIDO"><b></b></h6></td>
                           		</tr>
                           	 </table> 
                           	      
              			  </div>
              			  
           				 <div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table style= "width:100%;">
                         		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Nro&nbsp;Identificados&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_POLI_CAPO_CAIP_DE_IDENTIFICADOR"><b></b></h6></td>
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Refacturaciones&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_CAPO_NU_REFACT_EFECT"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Pagos&nbsp;BANELCO&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_DE_PAGOS_BANELCO"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>De&nbsp;Pagos&nbsp;LINK&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_DE_PAGOS_LINK"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Tipo&nbsp;de&nbsp;P&oacute;liza&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_TIPO_POLIZA"><b></b></h6></td>
                           		</tr>
                           	 </table> 
                           	      
						    </div>
						</div> 
					 </div>
					
    			<!-- aca termina -->
			</div>
			    <div class="row" style="margin-top:15px;">
					<div class="col-lg-12" style="text-align: center;" id="botonPoliza">
					</div>
			</div>
		</div>	
   	</div>
     <!-- PANEL C -->
     
     
        <div class="panel panel-default">
	
   			<div class="panel-heading" style="background-color:#ffffff;border-color:#ffffff;">
                <div class="input-group pull-right" style="z-index:1; width:35%;" >
                  <input type="text" class="form-control" onkeyup="buscadorPanelCEntidadCliente()" id="inputBusquedaSiniestro"  style="height:26px;">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"  style="padding: 2px; padding-left:15px; padding-right: 15px">Filtrar</button>
                  </span>
				</div>
				<h4 id="cantSiniestros">Siniestros #if ( $clienteSiniestro.size() > 0 ) ($clienteSiniestro.size()) #end</h4> 
   			 </div>	
			 
			  #if ($clienteSiniestro.size() > 0)
   				<div class="col-xs-2" style=";text-align: center;">   
					<i class="material-icons altoIcono"  style="color:#39b3d7;padding-top:15px;" >&#xE02f;</i>
   				</div>
   				<div class="panel-body">    
                   	<div class="row">
              	 	    <div class="col-xs-10" style="text-align: left;padding-left:30px;padding-right:30px;$centradoVertical" id="caruMayor">
                  	 	    <div id="micaru" class="owl-carousel owl-theme" style="text-align:center; padding-left:25px;">
    						   
    							    #foreach ($datoSiniestro in $clienteSiniestro)      
        							    <div id="micaruB$velocityCount" onClick="abrirModalDetalleSiniestro('$datoSiniestro.get("P_TF_SINI.SISI_NU_SINIESTRO")','$datoSiniestro.get("P_TF_SINI.SISI_CARP_CD_RAMO")','1');" class="item" style="height:105px; cursor:pointer; background:#efeeee;border-radius: 3px; border-width: 1px; border-color:#e0e0e0; border-style: solid; box-shadow: 0 0 0px black;">
        									<h6 id="nroSiniestro$velocityCount" style="height:25px;border-bottom:1px solid; padding-top:4%;padding-bottom:4%;background-color:#39b3d7;color:#ffffff;">#$datoSiniestro.get("P_TF_SINI.SISI_NU_SINIESTRO")</h6>
        									<h6 style="margin-top:2%;" id="datoSiniestro$velocityCount" class="datoSiniestroCarusel"><b>$datoSiniestro.get("P_TF_SINI.SISI_CARP_CD_RAMO") - $datoSiniestro.get("P_TF_SINI.SISI_CAPO_NU_POLIZA")</b></h6>
        									<h6 style="margin-top:2%;" id="datoSiniestro$velocityCount" class="datoSiniestroCarusel">$datoSiniestro.get("P_TF_SINI.INB_DSP_BIEN")</h6>
        
        									<br>
        							    </div>
    								#end
    								
        					</div>
              	 	    </div> 
              	 	</div> 

				</div>
			#else 
    				#if($mostrarBotonDeBusquedaSiniestro == "SI" )
							<div class="col-xs-2" style=";text-align: center;">   
					<i class="material-icons altoIcono"  style="color:#39b3d7;padding-top:15px;" >&#xE02f;</i>
   				</div>
   				<div class="panel-body">    
                   	<div class="row">
              	 	    <div class="col-xs-10" style="text-align: left;padding-left:30px;padding-right:30px;$centradoVertical" id="caruMayor">
                  	 	    <div style="text-align:center; padding-left:25px;">
							
					<div class="row" style="margin-top:15px;">
					     <div class="col-lg-12" style="text-align: center;">
							<a class="btn btn-panela-poliza  btn-social btn-bitbucket"  onclick="redirecGoSiniestro('0');" style="margin-right:5px;font-size:15px; margin-top:5px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#ffffff;background-color:#39b3d7">Ver Siniestros</a>
							</div>
					</div>	 
							</div>
              	 	    </div> 
              	 	</div> 

				</div>
					
					#else
                			#set($concepto = "siniestros")
                           	#parse("partials/util/rowVacio.vm")	
    				#end
	        #end	
   		</div>
	</div>


  	   
  	   <!-- Panel B -->
  	   
       <div class="col-sm-12 col-md-4" style="width:100%; margin-bottom: 20px;">
        <div class="panel panel-default" style="display:table; width:100%; height:100%;">

             <div class="panel-heading" style=" background-color:white;border-color:white;">
             <div class="input-group pull-right" style="z-index:1; width:50%;" >
                  <input type="text" class="form-control" onkeyup="buscadorPanelPolizaClienteHome()" id="inputBusquedaPolizasCliente"  style="height:26px;">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"  style="padding: 2px; padding-left:15px; padding-right: 15px">Filtrar</button>
                  </span>
				</div>
			  <h4 style="color:#00317A;">Polizas #if ( $clientePoliza.size() > 0 ) ($clientePoliza.size()) #end</h4>
             </div>
         
   		     <div class="main-container page__container altoPanelB" >
   		
				<div class="timeline__group" style="z-index:1;max-height:20px;">
              
				  	<div>
    
						#if ($clientePoliza.size() > 0)
                			#foreach($clienteIn in $clientePoliza)	
                               #set ($nroPoliza = $clienteIn.get("P_TF_LISTA_POL.CACE_CAPO_NU_POLIZA"))
                               #set ($urlImg = $utilToolScreen.getIcono($clienteIn.get("P_TF_LISTA_POL.CACE_CARP_CD_RAMO")))
                			   #set ($nroFechaDesde = $utilToolScreen.formatearFecha($clienteIn.get("P_TF_LISTA_POL.CACE_FE_DESDE")))
                			   #set ($nroFechaHasta =$utilToolScreen.formatearFecha($clienteIn.get("P_TF_LISTA_POL.CACE_FE_HASTA")))
                			   #set ($descRamo =$utilToolScreen.getDescRamo($clienteIn.get("P_TF_LISTA_POL.CACE_CARP_CD_RAMO")))
                			   #set ($estadoPoliza = $clienteIn.get("P_TF_LISTA_POL.INB_ESTADO"))
                			   #set ($etiquetaRamo = $clienteIn.get("P_TF_LISTA_POL.CACE_CARP_CD_RAMO"))
							   #set ($sucursalRamo = $clienteIn.get("P_TF_LISTA_POL.CACE_CASU_CD_SUCURSAL"))
							   #set ($numeroCard = $velocityCount)

                
                			   #set ($estado = $clienteIn.get("P_TF_LISTA_POL.INB_ESTADO"))
                			   #parse("partials/util/itemTimeLinePoliza.vm")	 
                        
							#end
					   #else 
						   #set($concepto = "polizas")
               			   #parse("partials/util/itemTimeLineVacio.vm")	

					   #end										
   
					</div>
            
				</div>
	
			 </div>
		</div>
	   </div>
 </div>
 </div>
       </section>
 
     
     
		<!-- Modal siniestro-->
  #parse("/partials/pes/entidades/poliza/modalPolizaHome/siniestroModal.vm")
				<!-- Modal Sucursal-->
  #parse("partials/pes/entidades/poliza/modalPolizaHome/sucursalModal.vm")
     <!-- modal Productores -->
  #parse("partials/pes/entidades/poliza/modalPolizaHome/productoresModal.vm")

  <!-- Modal Contacto-->
  #parse("partials/pes/entidades/cliente/modalClienteHome/contactoClienteModal.vm")			

			      