<div class="panel panel-default" style="display:none;max-width:800px;height:500px;overflow-y:hidden;overflow-x:hidden;" id="detalleCoberturaModal" >
    <div style="width:100%;">
        <a class="btn pull-right cerrarModalBotonHoover"  data-placement="bottom"  style="font-size:20px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#989898;background-color:#ffffff;box-shadow:none;" rel="modal:close">
            <i style="font-size:17px;" class="fas fa-times"></i>
        </a>
    </div>
    <div class="panel-heading" style="max-width:790px;background-color:#ffffff;border-color:#ffffff;">
        <div class="row">
            <div class="col-md-12">
            <h4 class="modal-title" id="titulo_detalle_cobertura" style="border:none;">Detalle Coberturas</h4>
    		</div>
    		<div class="col-md-2" style="padding-left:20px;">
    			<h4 id="cantIgualesDetalleCoberturaLabel"  class="bordeFiltro" style="border-bottom-width:0px;font-size: 12px;font-weight: 400;display:none;"></h4>
    		</div>
    		<div class="col-md-4">
    			<h4 id="cantDifDetalleCoberturaLabel" class="bordeFiltro" style="border-bottom-width:0px;font-size: 12px;font-weight: 400;display:none;"></h4>
    		</div>
        </div>
    </div>
    <div>
        <div class="row">
        <div class="col-md-2">
				<i class="material-icons altoIcono"  style="color:#646464;" >compare</i>
			</div>
			<div class="col-md-10" style="text-align: left; padding-left:1px;padding-right:1px">
				<div style="overflow-y:auto;height:400px;">
        			<table  class="table table-hover" style="width:100%;">
						<thead class="thead-grilla" role="rowgroup">
							<tr class="tr-grilla" role="row">
								<th  scope="col" role="columnheader" style="width:5%;text-align: right;"><h5 style="border:none;">Dato</h5></th>
								<th  scope="col" style="text-align: center;width: 30%;" role="columnheader"><h5 style="border:none;">Cotizaci&oacute;n</h5></th>
							</tr>
						</thead>
						<tbody class="tbody-grilla" id="datosDetalleCoberturaCMP">
						</tbody>
					</table>
				</div>
			</div>
        </div>
    </div>
</div>
