<div class="panel panel-default" style="display:none;max-width:600px;height:500px;overflow-y:hidden;" id="componenteCertificadoPopUp" >
      	    <div style="width:100%;">
						<a class="btn pull-right   material-icons cerrarModalBotonHoover"  data-placement="bottom"  style="font-size:20px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#989898;background-color:#ffffff" rel="modal:close">clear</a>
			</div>
      	    <div class="panel-heading" style="max-width:600px;background-color:#ffffff;border-color:#ffffff;">
      	    <h4 id="DATOS_COMPONENTE"></h4>
      	    </div>	
   		<div class="panel-body">
               	<div class="row">
          	 	  <div class="col-md-12" style="text-align: left;height: 400px;overflow-y:auto;">
								<div class="table-responsive">
								<table class="table table-hover table-grilla" role="table">
								  <thead class="thead-grilla" role="rowgroup">
								    <tr class="tr-grilla" role="row">
								            <th class="th-grilla-componentePoliza" role="columnheader">Componente</th>
								            <th class="th-grilla-componentePoliza" role="columnheader">Tasa</th>
								            <th class="th-grilla-componentePoliza" role="columnheader">Importe</th>
								        </tr>
								    </thead>
								   
								    <tbody class="tbody-grilla" id="valorComponentesPolizaCertificado">
							</tbody>
								</table>
								</div>
    				  </div>
    				  
    				  </div>
    			</div>	
   		</div>