<div class="panel panel-default" style="display:none;max-width:700px;overflow-y:auto;" id="daniosPopUp" >
      	    <div style="width:100%;">
						<a class="btn pull-right   material-icons cerrarModalBotonHoover"  data-placement="bottom"  style="font-size:20px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#989898;background-color:#ffffff" rel="modal:close">clear</a>
			</div>
      	    <div class="panel-heading" style="max-width:600px;background-color:#ffffff;border-color:#ffffff;">
      	    <h4>Da&ntilde;os del siniestro #$siniestroNumero</h4>
      	    </div>	
   			
   			<div class="panel-body">
               	<div class="row">
               	<div class="col-md-2" style=";text-align: center;">
   			<i class="material-icons altoIconoPopUp"  style="color:#00317A;" >report_problem</i>
   			
   			</div>
          	 	  <div class="col-md-10" style="text-align:left; padding-right:0px; padding-left:0px;">
	          	 	  <div id="datosModal">
	          	 	  <h5 style="border:none;"><b>$danios</b></h5>
	          	 	  </div>
              	  </div>
    			</div>            
    		  </div>
    		</div>	
