
<div class="panel panel-default" style="display:none;max-width:700px;overflow-y:auto;" id="datosModificacionesJuicioPopUp" >
      	    <div style="width:100%;">
						<a class="btn pull-right   material-icons cerrarModalBotonHoover"  data-placement="bottom"  style="font-size:20px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#989898;background-color:#ffffff" rel="modal:close">clear</a>
			</div>
      	    <div class="panel-heading" style="max-width:600px;background-color:#ffffff;border-color:#ffffff;">
      	    <h4 id="DATO_MODIFICACIONES"></h4>
      	    </div>	
   		<div class="panel-body">
               	<div class="row">
               	<div class="col-md-2" style=";text-align: center;">
               	   	<i class="material-icons altoIconoPopUp"  style="color:#00317A;">insert_drive_file</i>
				</div>
          	 	  <div class="col-md-10" style="text-align: left;padding-left:30px;padding-right:30px;height: 400px;overflow-y:auto;">
          		 
          		 <div class="row" id="datosModificacionesJuicio">
    				</div>			
    			
    			  </div>
    			  </div>
    			</div>	
            </div>
   		</div>