<div class="panel panel-default" style="display:none;max-width:700px;overflow-y:auto;" id="embargosJuicioPopUp" >
      	    <div style="width:100%;">
						<a class="btn pull-right   material-icons cerrarModalBotonHoover"  data-placement="bottom"  style="font-size:20px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#989898;background-color:#ffffff" rel="modal:close">clear</a>
			</div>
      	    <div class="panel-heading" style="max-width:600px;background-color:#ffffff;border-color:#ffffff;">
      	    <h4 id="DATOS_MODAL_EMBARGOS"></h4>
      	    </div>	
   			
   			<div class="panel-body">
               	<div class="row">
               	<div class="col-md-2" style=";text-align: center;">
   			<i class="material-icons altoIconoPopUp"  style="color:#00317A;" >warning</i>
   			
   			</div>
          	 	  <div class="col-md-10" style="text-align: left;padding-left:30px;padding-right:30px">
          	 	  
          	 	  <!-- pag principal-->
          	 	  
          	 			<div class="row" id="panelModal">
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
								<table  style= "width:100%;">
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Fecha Embargo :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DEJU_DEJU_FECHA"></h6></td>
                           		</tr>
								
								<tr>
                              	<td align="right"  valign="top" style="padding-top:5px;" ><h6>Monto :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="DATO_MONTO"></h6></td>
                           		</tr>
							
								<tr>
                                <td align="right"  valign="top" style="padding-top:5px;" ><h6>Banco :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="DATO_BANCO"></h6></td>
                           		</tr>
								
								<tr>
                               	<td align="right"  valign="top" style="padding-top:5px;" ><h6>Cuenta :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="DATO_CUENTA"></h6></td>
                           		</tr>
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Detalle :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="DATO_DETALLE"></h6></td>
                           		</tr>
								
                                </table>
              			   </div>
           				   <div class="col-md-6" style="text-align: left; padding-left:1px;padding-right:1px">
             			 			<table  style= "width:100%;">
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Fondos :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DEJU_DEJU_IN_INVERSION_FONDOS"></h6></td>
                           		</tr>
								
								<tr>
                              	<td align="right"  valign="top" style="padding-top:5px;" ><h6>Fecha Alta :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DEJU_DEJU_FE_ALTA"></h6></td>
                           		</tr>
								
								<tr>
                               	<td align="right"  valign="top" style="padding-top:5px;" ><h6>Us. Alta :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DEJU_DEJU_US_ALTA"></h6></td>
                           		</tr>
								
								
								<tr>
                         	  	<td align="right"  valign="top" style="padding-top:5px;" ><h6>Fecha Mod. :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DEJU_DEJU_FE_MOD"></h6></td>
                           		</tr>
								
								<tr>
                           		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Us. Mod :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DEJU_DEJU_US_MOD"></h6></td>
                           		</tr>
							
								<tr>
                           		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Obs. :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DEJU_DEJU_DE_OBSERVACION"></h6></td>
                           		</tr>
							
                                </table>
              				 
    					</div>
    					</div>      
    					      
    			  </div>
    			</div>	
				    <div class="row" style="margin-top:15px;">
					     <div class="col-lg-12" style="text-align: center;">
							<!-- aca va boton -->						
						 </div>
					</div>
			</div>
   			</div>