<div class="panel panel-default" style="display:none;max-width:940px;height:450px;overflow-y:hidden;" id="fueraDePautaCotizacionPopUp" >
      	    <div style="width:100%;">
						<a class="btn pull-right   material-icons cerrarModalBotonHoover"  data-placement="bottom"  style="font-size:20px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#989898;background-color:#ffffff" rel="modal:close">clear</a>
			</div>
      	    <div class="panel-heading" style="max-width:600px;background-color:#ffffff;border-color:#ffffff;">
      	    <h4 style="border:none;" id="DATO_BENEFICIARIO_COTIZACION"></h4>
      	    </div>	
   		<div>
               	<div class="row" style="margin:0px;">
          	 	  <div class="col-md-12" style="text-align: left;height: 450px;overflow-y:auto;padding:0px;">
								<div>
								<table class="table table-hover table-grilla" role="table">
								   
								    	  <thead class="thead-grilla" role="rowgroup">
								    <tr class="tr-grilla" role="row">
								            <th class="th-grilla" role="columnheader">Motivo</th>
								            <th class="th-grilla" role="columnheader">Nivel</th>
								            <th class="th-grilla" role="columnheader">Aprobado</th>
								            <th class="th-grilla" role="columnheader">Fp</th>
								            <th class="th-grilla" role="columnheader">Usuario</th>
								            <th class="th-grilla" role="columnheader">Actualizaci&oacute;n</th>
								        </tr>
								    </thead>
								    <tbody class="tbody-grilla" id="datosFueraPautaCotizacion">
							</tbody>
								</table>
								</div>
    				  </div>
    				  
    				  </div>
    				  
    			</div>	
   		</div>