<div class="panel panel-default" style="display:none;max-width:700px;overflow-y:auto;" id="pagosRechazadosProductorPopUp" >
      	   <div style="width:100%;">
						<a class="btn pull-right   material-icons cerrarModalBotonHoover"  data-placement="bottom"  style="font-size:20px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#989898;background-color:#ffffff" rel="modal:close">clear</a>
		   </div>
			
			<div class="panel-heading" style="max-width:600px;background-color:#ffffff;border-color:#ffffff;">
      	    <h4 id="DATOS_MODAL_RECHAZOPROD"></h4>
      	    </div>	
   			
   			<div class="panel-body">
               	<div class="row">
               	<div class="col-md-2" style=";text-align: center;">
					<i class="material-icons altoIcono"  style="color:#e0d100;padding-top:15px;" >&#xE02f;</i>
   			
   			</div>
          	 	  <div class="col-md-10" style="text-align: left;padding-left:30px;padding-right:30px;margin-bottom:15px;">
          	 	  
          	 	  <!-- pag principal-->
          	 	  
          	 	          	 	<input type="hidden" value="" id="polizaProductorRechazada" />
								<input type="hidden" value="" id="ramoProductorRechazada" />
								<input type="hidden" value="" id="sucursalProductorRechazada" />
								
              		
          	 			<div class="row" id="panelModal">
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
								<table  style= "width:100%;">
									
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Sucursal :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_RECHAZOS_CJIP_CASU_CD_SUCURSAL"><b></b></h6></td>
                           		</tr>
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Poliza :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="DATO_POLIZA_RECHAZOPROD"><b></b></h6></td>
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Certificado :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_RECHAZOS_CJIP_CACE_NU_CERTIFICADO"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Nu. Cliente :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_RECHAZOS_CAPO_CACN_NU_CEDULA_RIF"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Cliente :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_RECHAZOS_INB_VC_RAZO"><b></b></h6></td>
                           		</tr>
                     
                                </table>
						     
              			  </div>
           				   <div class="col-md-6" style="text-align: left; padding-left:1px;padding-right:1px">
             			 	<table  style= "width:100%;">
							<tr>
							
							
							      		
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Contacto :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_RECHAZOS_INB_VC_CONTACTO"><b></b></h6></td>
                           		</tr>
                          
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Moneda :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_RECHAZOS_CAMO_SM_MONEDA"><b></b></h6></td>
                           		</tr>
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Monto :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="DATO_POLIZA_MONEDA"><b></b></h6></td>
                           		</tr>
								
								
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Fe. Hasta :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_RECHAZOS_CARE_FE_HASTA"><b></b></h6></td>
                           		</tr>
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Tarjeta  :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_RECHAZOS_INB_VC_TARJ"><b></b></h6></td>
                           		</tr>
								
								 		<tr>
                         		<td  align="right" style="position:relative;padding-top:5px;"><h6>Rechazo :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_RECHAZOS_COMR_DE_MOTIVO_RECHAZO"><b></b></h6></td>
                           		</tr>
							
                            </table>
              				 
    					</div>
    					</div>            
    			  </div>
    			</div>	
					<div class="row" style="margin-top:15px;">
					     <div class="col-lg-12"style="text-align: center;">
							<a class="btn btn-panela-poliza  btn-social btn-bitbucket  material-icons inspeccionesBotonHoover"  data-placement="bottom" data-toggle="tooltip" onclick="redirPolizaVencida();" title="P&oacute;liza" style="margin-right:5px;font-size:20px; margin-top:5px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#ffffff;background-color:#205081" >play_arrow</a>
						 </div>
					</div>	 
			</div>
   			</div>