	<div class="panel panel-default" style="display:none;max-width:700px;overflow-y:auto;" id="polizaAnteriorPopUp" >
      	    <div class="panel-heading" style="max-width:600px;background-color:#ffffff;border-color:#ffffff;">
      	    <h4>Poliza Anterior #1595</h4>
      	    </div>	
   			
   			<div class="panel-body">
               	<div class="row">
               	<div class="col-md-2" style=";text-align: center;">
   			<i class="material-icons altoIconoPopUp"  style="color:#00317A;" >&#xE88A;</i>
   			
   			</div>
          	 	  <div class="col-md-10" style="text-align: left;padding-left:30px;padding-right:30px">
          	 	  
          	 	  <!-- pag principal-->
          	 	  
          	 			<div class="row" id="panelModal">
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
								<table  style= "width:100%;">
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Ramo :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_CLIENTE_P_TF_POLI_INB_DSP_RAMO"><b></b></h6></td>
                           		</tr>
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Situacíon Póliza :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_POLI_INB_DSP_ESTADO"><b></b></h6></td>
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Fecha Emisión :</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_CACE_FE_SUSCRIPCION"><b></b></h6></td>
                           		</tr>
                           		
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Vigencia :</h6></td>
                           		<td valign="top" style="padding-top:5px;">
    										 <h6 id="INFO_FECHA_DESDE_B_P_TF_POLI_CACE_FE_DESDE" style="float:left;"> </h6>
    										 <h6 id="INFO_P_TF_POLI_CACE_FE_HASTA" style="float:left;"> </h6>
    								</td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Póliza Anterior :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_CAPO_NU_POLIZA_ANTERIOR"><b></b></h6></td>
                           		</tr>
									<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Póliza Siguiente :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_CAPO_NU_POLIZA_SIGUIENTE"><b></b></h6></td>
                           		</tr>
                                </table>
						     
              			  </div>
           				   <div class="col-md-6" style="text-align: left; padding-left:1px;padding-right:1px">
             			 			<table  style= "width:100%;">
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Cliente :</h6></td>
                           		<td style="padding-top:0px; width:60%;"><h6 onClick="abrirPopUpNuevo('clientePopUp');" style="cursor:pointer;" id="INFO_CLIENTE_P_TF_POLI_INB_DSP_ASEGURADO"><b></b></h6></td>
                           		</tr>

								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Productor :</h6></td>
                           		<td style="padding-top:0px;"><h6 onClick="abrirPopUpNuevo('productorPopUp');" style="cursor:pointer;" id="INFO_CLIENTE_B_P_TF_POLI_INB_DSP_PRODUCTOR"><b></b></h6></td>
                           		</tr>
                           		
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Sucursal :</h6></td>
                           		<td  valign="top" style="padding-top:5px;"><h6 onClick="abrirPopUpNuevo('sucursalPopUp');" style="cursor:pointer;" id="INFO_CLIENTE_P_TF_POLI_INB_DSP_SUCURSAL"><b></b></h6></td>
                           		</tr>
                           		
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Facturación :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_TP_FACTURACION"><b></b></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Moneda :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_CAMO_SM_MONEDA"><b></b></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Promo :</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_POLI_INB_PROMOCION"><b></b></h6></td>
                           		</tr>
                           		
                                </table>
              				 
    					</div>
    					</div>            
    			  </div>
    			</div>		
				<div class="row" style="margin-top:15px;">
					<div class="col-lg-12" style="text-align: center;">
						<a class="btn btn-panela-poliza  btn-social btn-bitbucket  material-icons cerrarModalBotonHoover"  data-placement="bottom" data-toggle="tooltip" title="Cerrar"  style="margin-right:5px;font-size:20px; margin-top:5px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#ffffff;background-color:#8a8a8a" rel="modal:close">input</a>
					</div>
				</div>
						 </div>
   			</div>