<div class="panel panel-default" style="display:none;max-width:900px;height:500px;overflow-y:hidden;" id="primaCertificadoPopUp" >
      	    <div style="width:100%;">
						<a class="btn pull-right   material-icons cerrarModalBotonHoover"  data-placement="bottom"  style="font-size:20px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#989898;background-color:#ffffff" rel="modal:close">clear</a>
			</div>
      	    <div class="panel-heading" style="max-width:600px;background-color:#ffffff;border-color:#ffffff;">
      	    <h4 style="border:none;" id="DATOS_MODAL_PRIMA"></h4>
      	    </div>	
   		<div>
               	<div class="row" style="margin:0px;">
          	 	  <div class="col-md-12" style="text-align: left;height: 350px;overflow-y:auto;padding:0px">
								<div>
								<table class="table table-hover table-grilla" role="table">
								   
								    	  <thead class="thead-grilla" role="rowgroup">
								    <tr class="tr-grilla" role="row">
								            <th class="th-grilla" role="columnheader">Ramo</th>
								            <th class="th-grilla" style="width:20px;" role="columnheader">Cobertura</th>
								            <th class="th-grilla" role="columnheader">Tasa</th>
								            <th class="th-grilla" role="columnheader">Suma Aseg.</th>
								            <th class="th-grilla" role="columnheader">Prima</th>
								            <th class="th-grilla" role="columnheader">Variaci&oacute;n Prima</th>
								            
								            
								        </tr>
								    </thead>
								    <tbody class="tbody-grilla" id="datosPrimaCertificado">
							</tbody>
								</table>
								</div>
    				  </div>
    				  
    				  </div>
    				  
    				  <div class="row">
   	        	 	  <div class="col-md-12" style="text-align: left;padding-left:30px;padding-top:10px;">
  								<table  style= "width:100%;">
    				 
                           			<tr>
                         		<td align="right"  valign="top" style="width:80%;"><h6 style="padding-top:5px;">Prima Total :</h6></td>
                                <td style="padding-top:0px; width:60%;"><h6  id="DATO_PRIMAS" style="text-align:left;padding-top:5px;"></td>
                           		</tr>
                           		
                           		  			<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Variaci&oacute;n Prima Total :</h6></td>
                                <td style="padding-top:0px; width:60%;"><h6 id="DATO_PRIMAS_ANUAL" style="text-align:left;"></td>
                           		</tr>
                           		</table>
    				  </div>
       		   </div>
    			</div>	
   		</div>