<form id="formularioStep0">
    <input type="hidden" value="0" id="valorDato"/>
    <section class="">
		            <input type="hidden" value="" id="valorRamo"/>
            <input type="hidden" value="" id="valorProducto">
                <input type="hidden" value="" id="esqA"/>
                <input type="hidden" value="" id="esqB"/>
                <input type="hidden" value="" id="descProd"/>
        <div class="" style="padding-top:50px;" id="main">
            <div class="row" id="rowAlto" style="margin-bottom:0px;">
                <div class=" col-sm-12 col-md-9 sin-margen-der">
                    <div class="panel-default fondo-panel-central">
                        <div class="panel-body">
                            <div class=" row" id="rowCuerpo">
                                <div class="col-md-12 fondo-cuerpo" style="">
                                    <h3 class="box-title pl-1 pt-1" id="tituloRamo" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Ramo y Producto <i class="fas fa-exclamation-circle" id="iconoTitulo" style="color:#dc3545;display:none;"></i></h3>
                                    <div class="plan-selection">
                                        <div class="plan-data mt-2">
                                            <div class="row" style="margin-bottom:0px!important">
                                                 #foreach($ramosIn in $datosRamos)
                                                    #set ($codRamo = $ramosIn.get("P_TF_CARP.CARP_CD_RAMO"))
                                                    #set ($descRamo = $ramosIn.get("P_TF_CARP.CARP_DE_RAMO"))
                                                    #parse("partials/pes/cotizador/step1/ramosCotizacion.vm")
												 #end
												 <div class="col-sm-6 col-md-4 col-lg-2 centrar-card-resposive" id="btnMostrarRamos" style="cursor:pointer!important;display:none;" onclick="mostrarBtnRamos(this.id)">
                                                    <div class="card">
                                                        <div class="card-image cuerpo-card sacarSeleccionCard" style="cursor:pointer!important;" id="cardActivada_$codRamo">
                                                            <i class="fas fa-arrow-alt-circle-left icono-cabecera-ramos"></i>
                                                        </div>
                                                        <div class="card-content texto-card">
                                                            <p>Volver</p>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
											<div class="plan-data" style="display:none;" id="mostrarPanelProd">
                                            <h5 class="pl-2 pt-1" id="tituloProd" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Seleccione un producto <i class="fas fa-exclamation-circle" id="iconoProd" style="color:#dc3545;display:none;"></i></h5>
                                            <div class="row"  id="mostrarProductos">
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cuerpo-botones" >
                                    <div class="row" style="margin:0px !important;">
                                        <div class="col-md-3" style="text-align:center;">
                                            <a onclick="volverRedirectStep0();"  class="btn waves-effect waves-light boton-siguiente-cotizacion boton-volver">
                                                Volver
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-3" style="text-align:center;">
                                            <a onclick="redirectStep2();"  class="btn waves-effect waves-light boton-siguiente-cotizacion">
                                                Siguiente
                                                <i class="material-icons right" style="color:white;">send</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Lista certificados - Panel B -->
                #parse("partials/pes/cotizador/step0/step0CotizacionpanelBNuevaCotizacion.vm")
            </div>
</section>
</form>
