<section class="container-fluid">
    <div class="containerMargenes" style="padding-top:50px;" id="main">
        <div class="row">
            <input type="hidden" value="" id="valorRamo"/>
            <input type="hidden" value="" id="valorProducto">
                <input type="hidden" value="" id="esqA"/>
                <input type="hidden" value="" id="esqB"/>
                <input type="hidden" value="" id="descProd"/>
                <!-- Datos Asegurado Fallecido -->
                <div class=" col-sm-12 col-md-9 sin-margen-der" style="margin-top:50px">
                    <div class="panel panel-default panel-mio">
                        <div class="panel-body">
                            <div class=" row">
                                <div class="col-md-12" style="text-align: left;padding-left:15px;padding-right:15px">
                                    <h3 class="box-title pl-1 pt-1" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Nueva Cotizaci&oacute;n</h3>
                                    <div class="plan-selection">
                                        <div class="plan-data" id="rowCardRamos">
                                            <h5 class="pl-2 pt-1" id="tituloRamo" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Seleccione un ramo <i class="fas fa-exclamation-circle" id="iconoTitulo" style="color:#dc3545;display:none;"></i></h5>
											<div class="row">
                                                #foreach($ramosIn in $datosRamos)
                                                    #set ($codRamo = $ramosIn.get("P_TF_CARP.CARP_CD_RAMO"))
                                                    #set ($descRamo = $ramosIn.get("P_TF_CARP.CARP_DE_RAMO"))
                                                    #parse("partials/pes/cotizador/step1/ramosCotizacion.vm")
                                                #end
                                                <div class="col-sm-6 col-md-4 col-lg-2 centrar-card-resposive" id="btnMostrarRamos" style="cursor:pointer!important;display:none;" onclick="mostrarBtnRamos(this.id)">
                                                    <div class="card">
                                                        <div class="card-image cuerpo-card sacarSeleccionCard" style="cursor:pointer!important;" id="cardActivada_$codRamo">
                                                            <i class="fas fa-arrow-alt-circle-left icono-cabecera-ramos"></i>
                                                        </div>
                                                        <div class="card-content texto-card">
                                                            <p>Volver</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="plan-data" style="display:none;" id="mostrarPanelProd">
                                            <h5 class="pl-2 pt-1" id="tituloProd" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Seleccione un producto <i class="fas fa-exclamation-circle" id="iconoProd" style="color:#dc3545;display:none;"></i></h5>
                                            <div class="row"  id="mostrarProductos">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-boton">
                                        <div class="col-sm-12 col-md-3">
                                            <button onclick="volverRedirectStep0();" class="btn waves-effect waves-light pull-left boton-siguiente-cotizacion" type="submit" name="action">
                                                Volver
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-sm-12  col-md-3">
                                            <button onclick="redirectStep2();"  class="btn waves-effect waves-light pull-right boton-siguiente-cotizacion" type="submit" name="action">
                                                Siguiente
                                                <i class="material-icons right" style="color:white;">send</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Lista certificados - Panel B -->
                #parse("partials/pes/cotizador/step0/step0CotizacionpanelBNuevaCotizacion.vm")
			</div>
        </div>
</section>
