<head>

 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Provincia Seguros">
    <meta name="author" content="">
    <title>Provincia Seguros</title>
	
	<link rel="stylesheet" href="resources/js/MDB/css/bootstrap.min.css">
	<link rel="stylesheet" href="resources/css/fonts/google/material-icons.css">
    <link href="resources/css/pantalla/v3/psadminV3.css" rel="stylesheet"> 
	<link rel="stylesheet" href="resources/css/pantalla/v3/timeLine.css">  
	<link rel="stylesheet" href="resources/css/pantalla/v3/v3.css"> 
    <link href="resources/css/fontawesome-free-5.7.2-web/css/all.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="resources/css/selecty.css"> 
	<link rel="stylesheet" href="resources/css/sweetalert2.css"> 
 	<link rel="stylesheet" href="resources/css/pantalla/v3/body.css"> 
	<link rel="stylesheet" href="resources/css/selecty.css"> 
	<link rel="stylesheet" href="resources/css/mfb.css?$paramId"> 
	<link rel="stylesheet" href="resources/css/jquery-popup-modal.css"> 
	
	
	
  
  
  </head>
  <body style="background-color:#f5f5f5;" onload="$funcionOnload">
    <div id="contenido">
	#parse("partials/pes/templates/principal/mainTemplateWebHeader.vm")
	  #parse("partials/pes/templates/principal/mainTemplateSeccion.vm")	
	 #parse($templateWeb)
	 
			<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
		      <li class="mfb-component__wrap">
		        <a style="background-color:#00317A!important;width:45px;height:45px;" class="mfb-component__button--main">
		          <i class="mfb-component__main-icon--resting  material-icons  ion-plus-round"  style="color:#ffffff;line-height:45px;">add</i>
		          <i class="mfb-component__main-icon--active  material-icons  ion-close-round" onclick="redirectHome();"  style="color:#ffffff;line-height:45px;">home</i>
		        </a>
		        <ul class="mfb-component__list">
				   <li>
		            <a style="background-color:#00317A!important;width:45px;height:45px;"  data-mfb-label="Go" class="mfb-component__button--child">
		              <i class="mfb-component__child-icon material-icons  ion-social-github" onclick="redirectGO();" style="color:#ffffff;line-height:45px;">search</i>
		            </a>
		          </li>
				  
				   <li>
		            <a style="background-color:#00317A!important;width:45px;height:45px;"  data-mfb-label="Go Experto" class="mfb-component__button--child">
		              <i class="mfb-component__child-icon material-icons  ion-social-github" onclick="redirectExperto();" style="color:#ffffff;line-height:45px;">touch_app</i>
		            </a>
		          </li>
				 
				   <li>
		            <a style="background-color:#00317A!important;width:45px;height:45px;"  data-mfb-label="Entorno" class="mfb-component__button--child">
		              <i class="mfb-component__child-icon material-icons  ion-social-github" onclick="$('#entornoPopUp').modal('show');" style="color:#ffffff;line-height:45px;">storage</i>
		            </a>
		          </li>
				  
					<li>
		            <a href="http://provinciaintranet/" style="background-color:#00317A!important;width:45px;height:45px;" data-mfb-label="Salir" class="mfb-component__button--child">
		              <i class="mfb-component__child-icon material-icons ion-social-octocat" style="color:#ffffff;line-height:45px;">redo</i>
		            </a>
		          </li>
		
		        </ul>
		      </li>
		    </ul>
			<!-- aca termina -->
	 
	 
    <a class="scroll-to-top rounded" onclick="topFunction()">
      <i class="fa fa-angle-up"></i>
    </a>
	<!-- boton flotante-->
	</div>
	
	  </body>
	<script src="/PSPES/resources/js/MDB/js/jquery-3.3.1.min.js"></script>
    <script src="/PSPES/resources/js/popper/popper.min.js"></script>
	<script src="/PSPES/resources/js/selecty.js"></script>
	<script src="/PSPES/resources/js/MDB/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/PSPES/wro/alljs.js"></script> 
	<script src="/PSPES/resources/js/jquery.blockUI.js"></script>
	<script src="/PSPES/resources/js/pesHome.js?"></script>
	<script src="/PSPES/resources/js/sweetalert2.all.min.js"></script>
    <script src="/PSPES/resources/js/pub/comparacionCotizacion.js"></script>
	<script src="/PSPES/resources/js/pub/pantallaPromocion/pantallaPromocion.js"></script>
	<script src="/PSPES/resources/js/sweetalert2.all.min.js"></script>
	<script src="/PSPES/resources/js/pub/configuracionVisualizacion.js"></script>
	<script src="/PSPES/resources/js/mfb.js"></script>
	<script src="/PSPES/resources/js/jquery.modal.js"></script>
	

	
	
	
