<div class="navbar navbar-default" id="subnav" style="margin-top:39px!important;height:40px; background-color: #fafafa;border-bottom:1px solid #e7e7e7;z-index:100">
 <div class="col-md-12">       
  <div class="container"  style="padding-top:10px;;max-width:1450px ;list-style-type: none;margin:0px;padding-left:5%;">
      	<ol class="breadcrumb" style="height: 22px;padding:0px;padding-bottom:0px;margin-bottom: 0px;background-color:#fafafa; width:1200px;">
        <li class="breadcrumb-item" >
			#if($tipoBuscador== "goBPBA")
				<a href="/PSPES/homeBPBA" class="material-icons" style="color: #428bca; text-decoration: none; cursor:pointer; font-size:20px;font-weight: 400;">home</a>
			#else
				<a href="/PSPES/home" class="material-icons" style="color: #428bca; text-decoration: none; cursor:pointer; font-size:20px;font-weight: 400;">home</a>
			#end
          </li>
       
       #if($indicadorNivel1)
			#if($tipoBuscador == "Experto")
				<li class="breadcrumb-item">
					<a onclick="redirectBreadCrumbExperto('$indicadorNivel1URL')" style="color: #428bca; text-decoration: none; cursor:pointer;">$indicadorNivel1
					</a> 
				</li>
			#elseif($tipoBuscador == "siniestroBPBA")
				<li class="breadcrumb-item">
					<a onclick="" style="color: #428bca; text-decoration: none; cursor:pointer;">Denuncia
					</a> 
				</li>
			#elseif($tipoBuscador == "goBPBA")
    			<li class="breadcrumb-item">
    				<a onclick="" style="color: #428bca; text-decoration: none; cursor:pointer;">Buscador
    				</a> 
    			</li>
			#else 
				<li class="breadcrumb-item">
					<a onclick="redirectBreadCrumb('$indicadorNivel1URL')" style="color: #428bca; text-decoration: none; cursor:pointer; font-size:14px;font-weight: 400">$indicadorNivel1
					</a> 
				</li>
			
			#end
       #end 
        #if($indicadorNivel2)
     	     <li class="breadcrumb-item">
				<a onclick="redirectBreadCrumb('$indicadorNivel2URL')" style="color: #428bca; text-decoration: none; cursor:pointer; font-size:14px;font-weight: 400">$indicadorNivel2
				</a>
			 </li>
       #end 
        #if($indicadorNivel3)
     	    <li class="breadcrumb-item">
				<a onclick="redirectBreadCrumb('$indicadorNivel3URL')" style="color: #428bca; text-decoration: none; cursor:pointer; font-size:14px;font-weight: 400">$indicadorNivel3
				</a>
			</li>
       #end 
       </ol>
  </div>
       
     </div>	
</div>
    

    
		