<div class="containerMargenes containerMenuResponsive" id="main">
	<div class="row">

		<div class=" col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #0B4376;height:37px;">
                        <a id="btnBusquedaAvanzada" class="pull-right" style=" cursor:pointer;color: aliceblue;" onclick="actionBusquedaAvanzada('btnBusquedaAvanzada','panelb','verMasPanelA');">B&uacute;squeda Avanzada</a>
                        <h4 style="color: #ffffff;">Busqueda siniestros</h4>
                    </div>
                    <div class="panel-body">
                        <div class=" row">
                            <div class="col-md-3" style="padding-top: 10px;">
									<a onclick="redirectSiniestroBPBAHome()" style="cursor:pointer">							
									<img src="/PSPES/resources/img/logo/logoGO5.png" style="max-width:100%;  margin:auto;  display:block; "  />								
									</a>
								
                            </div>
                            <div class="col-md-9" style="text-align: left;padding-left:30px;padding-right:30px ;">
                                <h6  style="line-height: 1.5;    letter-spacing: 1px;">Elija el tipo de <b> siniestro</b></h6>
									
								
                                <br>
									<div class="input-group">
									
                                    <input style="width:100%;z-index:0" id="datoFiltro" class="datoFiltro form-control"  title="Por favor ingrese el dato para iniciar su b&uacute;squeda" value="" onkeypress="enterBuscarHome(event)"/>
  
                                    </div>
									
										#parse("partials/pes/bpba/buscadorBPBA/productos.vm")
										
										
										<hr style="width:100%;margin-top:5px;margin-bottom:10px;">
										<a id="botonBuscarPrincipal" class="align-bottom btn btn-block btn-social btn-bitbucket center-block" onclick="buscarSiniestroBPBA()" style="width:25%;color:#ffffff;">Buscar</a>
							</div>
						 </div>
					</div>
				</div>
		</div>
	</div>
</div>
	
#if($sinResultados == "SI")
     #parse("partials/pes/buscador/componentes/componenteSinResultadosBusqueda.vm")
#end