<input type="hidden" value="" id="promoUno"/>
<input type="hidden" value="" id="promoDos"/>
<input type="hidden" value="" id="promoTres"/>
<input type="hidden" value="1" id="valor"/>
<input type="hidden" value="$datosCoti.promocionA" id="promocionSeleccionadaA"/>
<input type="hidden" value="$datosCoti.promocionB" id="promocionSeleccionadaB"/>
<input type="hidden" value="$datosCoti.promocionC" id="promocionSeleccionadaC"/>
<input type="hidden" value="0" id="valorForm"/>

<section class="">
   <div class="" style="padding-top:50px;" id="main">
      <div class="row" id="rowAlto" style="margin-bottom:0px;">
         <div class="col-sm-12 col-md-12 col-lg-9 sin-margen-der">
            <div class="panel-default fondo-panel-central">
               <div class="panel-body">
				<div class=" row" id="rowCuerpo">
					<div class="col-md-12 fondo-cuerpo" style="">
                        <h3 class="box-title pl-1 pt-1" style="color:#0b4376;border:none;font-size:25px;line-height:1;margin-top: 10px;">Promociones</h3>
						<h5 class="pl-1 pt-1 promo-card-sp4" id="titloStep4">Seleccione hasta 3 promociones para cotizar <i class="fas fa-exclamation-circle" id="iconoTitulo" style="color:#dc3545;display:none;"></i></h5>

                        <div class="plan-selection">
                           <div class="plan-data">
                                  <div class="row">
									#parse("partials/pes/cotizador/step4/cuerpoStep4.vm")
    							  </div>
						</div>
					 </div>
                     </div>
					 <div class="col-md-12 cuerpo-botones" style="text-align:center;">
					 <div class="row" style="margin:0px !important;">
					<div class="col-sm-12 col-md-3" style="text-align:center;">
					   <button onclick="volverRedirectStep3();" class="btn waves-effect waves-light boton-siguiente-cotizacion boton-volver">
                        Volver
                      </button>
					</div> 
					<div class="col-md-6">
					</div>
					<div class="col-sm-12  col-md-3">
						#if($datosCoti.ramo == 4)
						<a onclick="RedirectStep5();"  class="btn waves-effect waves-light boton-siguiente-cotizacion">
							Siguiente
						</a>
						#else
						<a onclick="redirectStep5Coberturas();"  class="btn waves-effect waves-light boton-siguiente-cotizacion">
							Siguiente
						</a>
						#end
					</div>
			   </div>
			   </div>
            </div>
			  </div>
						</div>
         </div>
         <!-- Lista certificados - Panel B -->
        #parse("partials/pes/cotizador/step0/step0CotizacionpanelBNuevaCotizacion.vm")      </div>
   </div>
</section>