
<section class="container-fluid">

 <div class="containerMargenes" id="main">


	<div class="row">
		
		
    <!-- panel A -->
       <div class=" col-sm-12 col-md-8">
	  	   #foreach($sinistroIn in $datoSiniestro)
			
			<input type="hidden" value="$sinistroIn.get("P_TF_LISTA_IMPR.SISI_NU_SINIESTRO")" id="valorNumeroSiniestroHome" />
			<input type="hidden" value="$sinistroIn.get("P_TF_LISTA_IMPR.SISI_CARP_CD_RAMO")" id="valorRamoSiniestroHome" />
			<input type="hidden" value="$sinistroIn.get("P_TF_LISTA_IMPR.SISI_NU_ANNIO")" id="valorAnnioSiniestroHome" />

        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: #0B4376;height:37px;">
		  #parse("/partials/util/botonVolverAtras.vm")
          <a id="verMasPanelA" class="pull-right" style=" cursor:pointer;color: aliceblue;" onclick="mostrarPoliza('panela','panelb','verMasPanelA');">Ver menos</a>
          <h4 style="text-align:center; color: #ffffff;">Juicios - Siniestro #$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_NU_SINIESTRO'))</h4>
          </div>
   			<div class="panel-body">
				<div class=" row">
   					<div class="col-md-2" style=";text-align: center;"> 
   					<i class="material-icons altoIcono"  style="color:#39b3d7" >$utilToolScreen.getIcono($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CARP_CD_RAMO'))</i>
   					</div>
   				  	<div class="col-md-10" style="text-align: left;padding-left:30px;padding-right:30px">
              		
              		<!-- pag principal -->
              		
          	 			<div class="row" id="panela" style="display:none;padding-bottom:10px;">
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
                         		
									<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6 >Siniestro&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b> $sinistroIn.get('P_TF_LISTA_IMPR.SISI_NU_ANNIO') - $sinistroIn.get('P_TF_LISTA_IMPR.SISI_CARP_CD_RAMO') - $sinistroIn.get('P_TF_LISTA_IMPR.SISI_NU_SINIESTRO')</b></h6></td>
                           		</tr>
								
																	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Estado&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_SITE_TIPO_ESTADO'), $utilToolScreen.nombreMayuscula($sinistroIn.get('P_TF_LISTA_IMPR.INB_SITE_DE_TIPO_ESTADO')), " - ")</b></h6></td>
                           		</tr>
								
								
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Anticipo&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_SIWA_NU_ANTICIPO'))</b></h6></td>
                           		</tr>
                           		
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Ramo&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CARP_CD_RAMO'),$utilToolScreen.getDescRamo($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CARP_CD_RAMO')),"-") </b></h6></td>
                           		</tr>
                           	 	
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>F.&nbsp;Declaraci&oacute;n&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.formatearFecha($sinistroIn.get('P_TF_LISTA_IMPR.SISI_FE_DECLARACION')))</b></h6></td>
                           		</tr>
								
								
							</table> 
                           	      
              			  </div>
           		<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
                         	 		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6 >Facult&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CASE_IN_FACULTATIVO'))</b></h6></td>
                           		</tr>
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Evento&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_REEV_NU_EVENTO'),$sinistroIn.get('P_TF_LISTA_IMPR.DESC_EVENTO')," - " )</b></h6></td>
                           		</tr>
                           		
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Cliente&nbsp;:</h6></td>
                           		<td style="padding-top:0px;width:60%;"><h6 onClick="abrirModalClienteHome('$sinistroIn.get("P_TF_LISTA_IMPR.SISI_CACN_NU_CEDULA_RIF")');" style="cursor:pointer;color:#6fa1d4;"><b>$utilToolScreen.datoVacio($utilToolScreen.nombreMayuscula($sinistroIn.get('P_TF_LISTA_IMPR.DESC_NOMBRE')))</b><i class="material-icons" style="display:inline;color:#6fa1d4;font-size:14px;cursor:pointer;">arrow_drop_up</i></h6></td>
                           		</tr>
                           	 	
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Cobertura&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_CD_PLAN'))</b></h6></td>
                           		</tr>
								
								
                           	 </table> 
                           	      
              			  </div>
    					</div>            
    			<!-- pag oculta -->
    					
    			
    				<div class="row" id="panelb">
    					
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
                         			<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6 >Siniestro&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b> $sinistroIn.get('P_TF_LISTA_IMPR.SISI_NU_ANNIO') - $sinistroIn.get('P_TF_LISTA_IMPR.SISI_CARP_CD_RAMO') - $sinistroIn.get('P_TF_LISTA_IMPR.SISI_NU_SINIESTRO')</b></h6></td>
                           		</tr>
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Estado&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_SITE_TIPO_ESTADO'), $utilToolScreen.nombreMayuscula($sinistroIn.get('P_TF_LISTA_IMPR.INB_SITE_DE_TIPO_ESTADO')), " - ")</b></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Anticipo&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_SIWA_NU_ANTICIPO'))</b></h6></td>
                           		</tr>
                           		
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Ramo&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CARP_CD_RAMO'),$utilToolScreen.getDescRamo($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CARP_CD_RAMO')),"-") </b></h6></td>
                           		</tr>
                           	 	
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>F.&nbsp;Declaraci&oacute;n&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.formatearFecha($sinistroIn.get('P_TF_LISTA_IMPR.SISI_FE_DECLARACION')))</b></h6></td>
                           		</tr>
								
							
                           	 </table> 
                           	      
              			  </div>
              			  
             				 <div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  								<table  style= "width:100%;">
                         	   		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6 >Facult&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CASE_IN_FACULTATIVO'))</b></h6></td>
                           		</tr>
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Evento&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_REEV_NU_EVENTO'),$sinistroIn.get('P_TF_LISTA_IMPR.DESC_EVENTO')," - " )</b></h6></td>
                           		</tr>
                           		
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;" ><h6>Cliente&nbsp;:</h6></td>
                           		<td style="padding-top:0px;width:60%;"><h6 onClick="abrirModalClienteHome('$sinistroIn.get("P_TF_LISTA_IMPR.SISI_CACN_NU_CEDULA_RIF")');" style="cursor:pointer;color:#6fa1d4;"><b>$utilToolScreen.datoVacio($utilToolScreen.nombreMayuscula($sinistroIn.get('P_TF_LISTA_IMPR.DESC_NOMBRE')))</b><i class="material-icons" style="display:inline;color:#6fa1d4;font-size:14px;cursor:pointer;">arrow_drop_up</i></h6></td>
                           		</tr>
                           	 	
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Cobertura&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_CD_PLAN'))</b></h6></td>
                           		</tr>
								
						                        

	 </table> 
                           	      
              			  </div>
              			  
                       <hr style="margin-top:5px;margin-bottom:5px;width:100%;">
                       
          				<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
								
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Situacion&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_ST_SINIESTRO'))</b></h6></td>
                           		</tr>    
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Entrada&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.formatearFecha($sinistroIn.get('P_TF_LISTA_IMPR.SISI_FE_REGISTRO')))</b></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Poliza/Certificado&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:3px;"><h6 onclick="abrirPopupPolizaAnterior('$sinistroIn.get('P_TF_LISTA_IMPR.SISI_CAPO_NU_POLIZA')', '$sinistroIn.get("P_TF_LISTA_IMPR.SISI_CARP_CD_RAMO")', '')" style="color:#6fa1d4; cursor:pointer;"><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CAPO_NU_POLIZA'),$sinistroIn.get('P_TF_LISTA_IMPR.SISI_CACE_NU_CERTIFICADO')," - " )</b><i class="material-icons" style="display:inline;color:#6fa1d4;font-size:14px;cursor:pointer;">arrow_drop_up</i></h6></td>
                           		</tr>    
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Endoso&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CACE_NU_ENDOSO'))</b></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Nomina&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.nombreMayuscula($sinistroIn.get('P_TF_LISTA_IMPR.INB_NOMINA')))</b></h6></td>
                           		</tr>    
								
								
									<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Domic. del Siniestro(Orden) :</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CADO_CONSECUTIVO_DIRE'))</b></h6></td>
                           		</tr>
                           	 		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Da&ntilde;os&nbsp;del&nbsp;Veh&iacute;&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_DE_DANOS'))</b></h6></td>
                           		</tr>
                           			<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Causa&nbsp;Siniestro&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($sinistroIn.get('P_TF_LISTA_IMPR.SISI_SICS_CD_CAUSA_SINIESTRO')),$utilToolScreen.ucFirst($sinistroIn.get('P_TF_LISTA_IMPR.DESC_SINIESTRO'))," - " )</b></h6></td>
                           		</tr>
                           			<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Cod.&nbsp;Riesgo&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_CODIGO_POSTAL'))</b></h6></td>
                           		</tr>
                           			<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Direcci&oacute;&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($sinistroIn.get('P_TF_LISTA_IMPR.SISI_LUGAR_OCURRENCIA')))</b></h6></td>
                           		</tr>
								
												<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Sin.&nbsp;Total&nbsp;Ant&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.EXIST_SIN_TOTAL_ANT'))</b></h6></td>
                           		</tr>
								
										<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Cob.&nbsp;Fin&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_CD_MOTIVO_COBF'))</b></h6></td>
                           		</tr>
								
								
								
                           	 </table> 
                           	      
              			  </div>
              			  
           				 <div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table style= "width:100%;">
										<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Patente&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_PATENTE'))</b></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>A&ntilde;o&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_ANIO'))</b></h6></td>
                           		</tr>    
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Marca/Modelo&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_MODELO'))</b></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Valor&nbsp;del&nbsp;Veh&iacute;culo&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_PATENTE'))</b></h6></td>
                           		</tr>    
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Liquidador&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.INB_LIQUIDADOR'),$utilToolScreen.ucFirst($sinistroIn.get('P_TF_LISTA_IMPR.INB_DE_LIQUIDADOR'))," - " )</b></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Ocurrencia&nbsp;:</h6></td>
                           		<td valign="top" onclick="abrirModalOcurrencia();" data-placement="bottom" data-toggle="tooltip" title="$utilToolScreen.datoVacio($utilToolScreen.ucFirst($sinistroIn.get('P_TF_LISTA_IMPR.SISI_DE_SINIESTRO')))" style="padding-top:5px;"><h6 style="cursor:pointer;"><b>$utilToolScreen.datoVacio($utilToolScreen.campoSiniestro($sinistroIn.get('P_TF_LISTA_IMPR.SISI_DE_SINIESTRO')))</b></h6></td>
                           		#set ($ocurrencia = $utilToolScreen.datoVacio($utilToolScreen.ucFirst($sinistroIn.get('P_TF_LISTA_IMPR.SISI_DE_SINIESTRO'))))
								#set ($siniestroNumero = $sinistroIn.get("P_TF_LISTA_IMPR.SISI_NU_SINIESTRO"))
								</tr>      
									
									
									<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Localidad&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.nombreMayuscula($sinistroIn.get('P_TF_LISTA_IMPR.INB_PCIA')),$utilToolScreen.nombreMayuscula($sinistroIn.get('P_TF_LISTA_IMPR.INB_CIUDAD'))," - " )</b></h6></td>
                           		</tr>
                           	 		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Agencia&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_SUCURSAL_SINIESTRO'),$utilToolScreen.nombreMayuscula($sinistroIn.get('P_TF_LISTA_IMPR.INB_AGENCIA_S'))," - " )</b></h6></td>
                           		</tr>
                           			<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Ag.&nbsp;Gesti&oacute;n&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($sinistroIn.get('P_TF_LISTA_IMPR.SISI_CASU_CD_SUCURSAL_GESTION'),$utilToolScreen.nombreMayuscula($sinistroIn.get('P_TF_LISTA_IMPR.INB_AGENCIA'))," - " )</b></h6></td>
                           		</tr>
                           			<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Juzgado&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($sinistroIn.get('P_TF_LISTA_IMPR.SISI_JUZGADO')))</b></h6></td>
                           		</tr>
                           			<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Comisaria&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($sinistroIn.get('P_TF_LISTA_IMPR.SISI_COMISARIA')))</b></h6></td>
                           		</tr>
								
								
								
								
										<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Acta&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6><b>$utilToolScreen.datoVacio($utilToolScreen.ucFirst($sinistroIn.get('P_TF_LISTA_IMPR.SISI_NRO_ACTA')))</b></h6></td>
                           		</tr>
								
                           	 </table> 
                           	      
					<br><br>
              			  </div>
    				</div> 
    					
    			<!-- aca termina -->
					  </div>
       			    </div>
					
					
      	 	#end		
        		 </div>
   			</div>

			
   		<!-- panel D -->
   		
      		<div class="panel panel-default" id="panelDetalleJuicio" style="display:none;">
      	    <div class="panel-heading" style="background-color:#ffffff;border-color:#ffffff;">
      	    <a style="cursor:pointer;color:#6fa1d4" id="verMasPanelC" class="pull-right" onclick="mostrarPoliza('panelc','paneld','verMasPanelC');">Ver mas</a> 
      	    <h4 id="labelPanelDetalleJuicio"></h4>
      	    </div>	
   					<input type="hidden" value="" id="juicioValor" />
					<input type="hidden" value="" id="ordenValor" />


   			<div class="panel-body">
               	<div class="row">
               	<div class="col-md-2" style=";text-align: center;" id="panelImagenJuicio">
					<img id="imgCliente" />
				</div>
          	 	  <div class="col-md-10" style="text-align: left;padding-left:30px;padding-right:30px">
          	 	  
          	
          	 	  
          	 	 <!-- pag principal -->
              		
          	 			<div class="row" id="panelc">
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                      <table  style= "width:100%;">
                         		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Fecha&nbsp;Alta&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_FE_ALTA_R"></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Mediacion&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_FE_CIERRE_MEDIACION"></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>P&oacute;liza&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_P_TF_DETALLE_RAJ_POLIZA"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Emitida&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_FE_EMISION_POLIZA"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Vigencia&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_P_TF_DETALLE_FECHA_VIGENCIA"></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Moneda&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_MONEDA_POLIZA"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Tercero&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_TERCERO"></h6></td>
                           		</tr>
								
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Sub&nbsp;Siniestro&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_INB_CD_COBERTURA"></h6></td>
                           		</tr>
								
								
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Hecho&nbsp;Gen.&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="DATO_PANEL_B_P_TF_DETALLE_HECHO_GEN"></h6></td>
                           		</tr>
								
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Ocurrencia&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SISI_FE_OCURRENCIA"></h6></td>
                           		</tr>
								
									<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Declar.&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SISI_FE_DECLARACION"> </h6></td>
                           		</tr>
								
                           	 </table> 
                           	      
              			  </div>
           		<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  					<table  style= "width:100%;">
                         		<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Actor&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DETALLE_RAJ_ACTOR"></h6></td>
                           		
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Demando&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_DEMANDADO"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Jurisdicci&oacute;n&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_DSP_JURISDICCION"></h6></td>
                           		</tr>
								
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Fuero&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_P_TF_DETALLE_FUERO"></h6></td>
                           		</tr>
								
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Estudio&nbsp;Cargo&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_P_TF_DETALLE_ESTUDIO_CARGO"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Domicilio&nbsp;Legal&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_DSP_DOMICILIO_DEMANDANTE"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Estudio&nbsp;Orig&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_P_TF_DETALLE_ESTUDIO_ORIGEN"></h6></td>
                           		</tr>
								
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Abogado&nbsp;Ac.&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_DEMANDANTE"></h6></td>
                           		</tr>
								
								
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Tipo&nbsp;Actuaci&oacute;n&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="DATO_P_TF_DETALLE_ACTUACION"></h6></td>
                           		</tr>
								
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Juzgado&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_JUZGADO"></h6></td>
                           		</tr>
								
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Secretaria&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_SECRETARIA"></h6></td>
                           		</tr>
                           		
                           	 </table> 
    					</div>
    					</div>       
    					     
    			<!-- pag oculta -->
    					
    					
    					<div class="row" id="paneld" style="display:none;">
          				 	<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
                         			<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Fecha&nbsp;Alta&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_SIJU_FE_ALTA_R"></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Mediacion&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_SIJU_FE_CIERRE_MEDIACION"></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>P&oacute;liza&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_PANEL_B_P_TF_DETALLE_RAJ_POLIZA"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Emitida&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_FE_EMISION_POLIZA"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Vigencia&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_PANEL_B_P_TF_DETALLE_FECHA_VIGENCIA"></h6></td>
                           		</tr>
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Moneda&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_MONEDA_POLIZA"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Sub&nbsp;Siniestro&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_PANEL_B_P_TF_DETALLE_SUB_SINIESTRO"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Tercero&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_PANEL_B_TERCERO"></h6></td>
                           		</tr>
								
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Cobertura&nbsp;:</h6></td>
								<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_INB_CD_COBERTURA"></h6></td>

                           		</tr>
								
								
								
								<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Hecho&nbsp;Gen.&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="DATO_P_TF_DETALLE_HECHO_GEN"></h6></td>
                           		</tr>
								
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Ocurrencia&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_SISI_FE_OCURRENCIA"></h6></td>
                           		</tr>
								
									<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Declar.&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_SISI_FE_DECLARACION"> </h6></td>
                           		</tr>
                           		
                           	 </table> 
                           	      
              			  </div>
              			  
             				 <div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  								<table  style= "width:100%;">
                         			<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Actor&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_ACTOR"></h6></td>
                           		
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Demando&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_DEMANDADO"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Jurisdicci&oacute;n&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_DSP_JURISDICCION"></h6></td>
                           		</tr>
								
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Fuero&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_PANEL_B_P_TF_DETALLE_FUERO"></h6></td>
                           		</tr>
								
								
								
								<tr>
								<td  align="right" style="padding-top:5px;"><h6>Estudio&nbsp;Cargo&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_PANEL_B_P_TF_DETALLE_ESTUDIO_CARGO"></h6></td>
                           		</tr>
								</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Domicilio&nbsp;Legal&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_DSP_DOMICILIO_DEMANDANTE"></h6></td>
                           		</tr>
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Estudio&nbsp;Orig&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="DATO_PANEL_B_P_TF_DETALLE_ESTUDIO_ORIGEN"></h6></td>
                           		</tr>
								
								
								
								<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Abogado&nbsp;Ac.&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_SIJU_DEMANDANTE"></h6></td>
                           		</tr>
								
								
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Tipo&nbsp;Actuaci&oacute;n&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="DATO_PANEL_B_P_TF_DETALLE_ACTUACION"></h6></td>
                           		</tr>
								
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Juzgado&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_SIJU_JUZGADO"></h6></td>
                           		</tr>
								
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Secretaria&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_PANEL_2_P_TF_DETALLE_RAJ_SIJU_SECRETARIA"></h6></td>
                           		</tr>
                           		
                           	 </table> 
                           	      
              			  </div>
              			  
                       <hr style="margin-top:5px;margin-bottom:5px;width:100%;">
                       
                       <!-- datos agregados -->
          				<div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table  style= "width:100%;">
                         		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Expediente&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_POLIZA"></h6></td>
                           		</tr>
								
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Expresado&nbsp;al&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_FE_EXPRESION"></h6></td>
                           		</tr>
								
								
								
									<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Estado&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DETALLE_RAJ_DSP_ESTADO"></h6></td>
                           		</tr>
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Demanda&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_ESTADO_DEMANDA"></h6></td>
                           		</tr>
								
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Suma&nbsp;Aseg.&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SISJ_SUMA_ASEGURADA"></h6></td>
                           		</tr>
								
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Maxima&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SISJ_MT_FRANQUICIA_MAX"></h6></td>
                           		</tr>
                           	 </table> 
                           	      
              			  </div>
              			  
           				 <div class="col-md-6" style="text-align: left;padding-left:1px;padding-right:1px">
                                 
  							<table style= "width:100%;">
                             	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Minima&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SISJ_MT_FRANQUICIA_MIN"></h6></td>
                           		</tr>
								
								
                           		<tr>
                         		<td  align="right" valign="top" style="padding-top:5px;"><h6>Cierre&nbsp;Mediaci&oacute;n&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_SMCM_CD_MOTIVO_CIERRE_MED"></h6></td>
                           		</tr>
								
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Motivo&nbsp;Cierre&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_CD_MOTIVO_BAJA"></h6></td>
                           		</tr>
                           		
								
								
													
									<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Baja&nbsp;:</h6></td>
                           		<td style="padding-top:5px;width:60%;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_FE_BAJA"></h6></td>
                           		</tr>
								
                           	 	<tr>
                         		<td align="right"  valign="top" style="padding-top:5px;"><h6>Motivo&nbsp;Baja&nbsp;:</h6></td>
                           		<td style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_CD_MOTIVO_BAJA"></h6></td>
                           		</tr>
                           		<tr>
                         		<td  align="right" style="padding-top:5px;"><h6>Observaciones&nbsp;:</h6></td>
                           		<td valign="top" style="padding-top:5px;"><h6 id="INFO_P_TF_DETALLE_RAJ_SIJU_OBSERVACIONES"></h6></td>
                           		</tr>
								
                           	 </table> 
                           	      
							 
							 
							 
							 
							 
              			  </div>
    				</div> 
    					
    			<!-- aca termina -->
    			  </div>
    			</div>	
    					<div class="row" >
					     <div class="col-lg-12" style="text-align: center;">
							<a class="btn btn-panela-poliza btn-social btn-bitbucket material-icons inspeccionesBotonHoover" onclick="abrirModalNotasJuicio();"   data-placement="bottom" data-toggle="tooltip"  title="Notas" style="margin-right:5px;font-size:20px;margin-top:5px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#ffffff; background-color:#00317A">speaker_notes</a>
							<a class="btn btn-panela-poliza btn-social btn-bitbucket material-icons inspeccionesBotonHoover" onclick="abrirModalDatosModificacionesJuicio();"   data-placement="bottom" data-toggle="tooltip"  title="Modificaciones" style="margin-right:5px;font-size:20px;margin-top:5px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#ffffff; background-color:#00317A">insert_drive_file</a>
							<a class="btn btn-panela-poliza btn-social btn-bitbucket material-icons inspeccionesBotonHoover" onclick="abrirModalDatosParametricosJuicio();"   data-placement="bottom" data-toggle="tooltip"  title="Datos Parametricos" style="margin-right:5px;font-size:20px;margin-top:5px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#ffffff; background-color:#00317A">add</a>
							<a class="btn btn-panela-poliza btn-social btn-bitbucket material-icons inspeccionesBotonHoover" onclick="abrirModalEmbargosJuicio();"   data-placement="bottom" data-toggle="tooltip"  title="Embargos" style="margin-right:5px;font-size:20px;margin-top:5px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#ffffff; background-color:#00317A">warning</a>
						
 </div>
					</div>
            	</div>
   			</div>
     <!-- PANEL C -->
     
     
      <div class="panel panel-default">

   			<div class="panel-heading" style="background-color:#ffffff;border-color:#ffffff;">
               <div class="input-group pull-right" style="z-index:1; width:35%;" >
                  <input type="text" class="form-control" onkeyup="buscadorPanelCEntidadJuicio()" id="inputBusquedaJuicio"  style="height:26px;">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"  style="padding: 2px; padding-left:15px; padding-right: 15px">Filtrar</button>
                  </span>
				</div>
				 <h4 id="cantidadSentencias">Transacciones / Sentencias</h4>
   			 </div>	
			
   				<div class="col-xs-2" style=";text-align: center;">   
   				</div>
   				<div class="panel-body">    
                   	<div class="row">
              	 	    <div class="col-xs-10" style="text-align: left;padding-left:30px;padding-right:30px;$centradoVertical;width:100%;" id="caruMayor">
							  #set($concepto = "Transacciones  / Sentencias en el siniestro")
							  #parse("partials/util/rowVacio.vm")	

							<div id="micaru" class="owl-carousel owl-theme" style="text-align:center; padding-left:25px;">
    						   
        					</div>
              	 	    </div> 
              	 	</div> 
				</div>
			
   		</div>
	</div>
   
  	   
   <!-- PANEL B -->
  	   
    
              <div class="col-sm-12 col-md-4" style="width:100%; margin-bottom: 20px;">
        <div class="panel panel-default" style="display:table; width:100%; height:100%;">

             <div class="panel-heading" style=" background-color:white;border-color:white;">
              <h4 style="color:#00317A;">Juicios #if ($datoListaJuicios.size() > 0) ($datoListaJuicios.size()) #end</h4>
             </div>
         
   		     <div class="main-container page__container altoPanelB" >
   		
				<div class="timeline__group" style="z-index:1;max-height:20px;">
              
				  	<div>
    
						#if ($datoListaJuicios.size() > 0)
                			#foreach($datoListaJuiciosIn in $datoListaJuicios)	
                               #set ($codJuicioSiniestro = $datoListaJuiciosIn.get("P_TF_LISTA_RAJ.SISJ_SIJU_NU_JUICIO"))
							   #set ($codSiniestro = $datoListaJuiciosIn.get("P_TF_LISTA_RAJ.SISJ_SISI_NU_SINIESTRO"))
							   #set ($datoCaratulaSiniestro = $datoListaJuiciosIn.get("P_TF_LISTA_RAJ.SIJU_CARATULA"))
							   #set ($codAnnio = $datoListaJuiciosIn.get("P_TF_LISTA_RAJ.SISJ_SISI_NU_ANNIO"))
							   #set ($codRamo = $datoListaJuiciosIn.get("P_TF_LISTA_RAJ.SISJ_CARP_CD_RAMO"))
							   
							   #set ($codTerceroSiniestro = $datoListaJuiciosIn.get("P_TF_LISTA_RAJ.DESC_TERCERO"))
							   
							   #set ($icono = "gavel")
							   #set ($numeroCard = $velocityCount)
                			   #parse("partials/pes/entidades/siniestro/juicios/itemJuiciosHome.vm")	 
							#end
					   #else 
						   #set($concepto = "juicios en el siniestro")
               			   #parse("partials/util/itemTimeLineVacio.vm")	

					   #end										
   
					</div>
            
				</div>
	
			 </div>
		</div>
	   </div>
 </div>
 </div>
       </section>
 
     
     
     		<!-- Modal sentencia PANEL C-->
	 #parse("/partials/pes/entidades/poliza/modalPolizaHome/sentenciasModal.vm")
             <!-- Modal Clientes-->
	 #parse("partials/pes/entidades/poliza/modalPolizaHome/clienteModal.vm")

	 #parse("partials/pes/entidades/poliza/modalPolizaHome/ocurrenciaModal.vm")
     
     #parse("partials/pes/entidades/poliza/modalPolizaHome/notasModalJuicio.vm")
	 
     #parse("partials/pes/entidades/poliza/modalPolizaHome/datosModificacionesJuicioModal.vm")
	 
     #parse("partials/pes/entidades/poliza/modalPolizaHome/datosParametricosJuicioModal.vm")
    
	 #parse("partials/pes/entidades/poliza/modalPolizaHome/embargosModal.vm")
    
     

