<section class="container-fluid">
   <div class="containerMargenes" style="padding-top:50px;" id="main">
      <div class="row">
         <!-- Datos Asegurado Fallecido -->
         <div class=" col-sm-12 col-md-8" style="margin-top:50px">
            <div class="panel panel-default" style="background-color:white;border:2px solid #e9ebef">
               <div class="panel-body">
                  <div class=" row">
                     <div class="col-md-12" style="text-align: left;padding-left:30px;padding-right:30px">
                        <h3 class="box-title pl-1 pt-4" style="color:#0b4376;border:none;font-size:25px;line-height:1;">Pago De Siniestro A Transferir</h3>
                        <br>
                        <br>
                        <div class="plan-selection">
                           <div class="plan-data">
                              <div class="row">
								<div class="col-md-6 mb-3 mt-3">
                                    <div class="md-form form-lg">
										<input type="text" value="" id="sucursal" class="form-control" disable>
                                        <label for="sucursal"  class="active">Casa/Sucursal</label>
                                    </div>
                                 </div>
								 
								 <div class="col-md-6 mb-3 mt-3">
                                        <div class="md-form form-lg">
    										<input type="text" value="" id="oficina" class="form-control" disable>
                                            <label for="oficina"  class="active">Oficina</label>
                                        </div>
									</div>     
								 
                              </div>
							  <br>
								##Segunda fila##
							  
							 <div class="row">
									<div class="col-md-10 mb-3 mt-3">
										
										<div class="row">
											<div class="col-md-10">
												<h5 class="" style="font-weight:600; border:0px">Prestamo con mas de un titular?&nbsp;&nbsp;
												
                                                <div class="form-check form-check-inline">
                                                  <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
                                                  <label class="form-check-label" for="materialInline1">SI</label>
                                                </div>
                                                
                                                <!-- Material inline 2 -->
                                                <div class="form-check form-check-inline">
                                                  <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
                                                  <label class="form-check-label" for="materialInline2">NO</label>
                                                </div>
												</h5>
											</div>
											
											##<div class="col-md-4">
        										<!-- Material inline 1 -->
												
											##</div>
										</div>
										
									</div>
							 </div>
                              
                           </div>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <button type="button" class="pull-right btn btn-indigo" onclick="datosSiniestroFinalizacion();" type="submit" style="font-size:13px;width:170px;height:45px;margin-bottom:20px;">Finalizar&nbsp;&nbsp;
                        <i class="fas fa-angle-right" style="color:white;"></i>
                        </button>
						<button type="button" class="pull-left btn btn-indigo" onclick="datosSiniestroFallecimiento();" type="submit" style="font-size:13px;width:170px;height:45px;margin-bottom:20px;"><i class="fas fa-angle-left" style="color:white;"></i>&nbsp;&nbsp;Atras
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Lista certificados - Panel B -->
         <div class="col-sm-12 col-md-4 " style="margin-top:50px;width:100%;">
            <div class="panel panel-default" style="border:2px solid #e9ebef;background-color:#e9ebef;display:table; width:100%; height:100%;">
               <div class="main-container page__container" >
                  <div class="widget pt-4" style="margin-bottom: 0px;padding-bottom: 0px;padding-left:10px;padding-right:10px;">
                     <div class="summary-head" style="width:80%;">
                        <h4 style="border:none;color:#0b4376"  class="widget-title">
                        Denuncia Siniestro</h5>
                        <span class="summary-small-text" ></span>
                     </div>
                     <div class="summary-price">
                        <a class="summary-text fas fa-refresh" href="/PSPES/bpba" style="color:#0b4376;font-size:15px;"></a>
                     </div>
                     <div class="summary-block" >
                        <div class="summary-content" style="width:100%;">
                           <div class="summary-head" style="width:80%;">
                              <h5 style="border:none;"  class="summary-title">Selecci&oacute;n de producto</h5>
                              <span class="summary-small-text" ></span>
                           </div>
                           <div class="summary-price">
                              <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                           </div>
                        </div>
                     </div>
                     <div class="summary-block">
                        <div class="summary-content">
                           <div class="summary-head">
                              <h5 style="border:none;"  class="summary-title"></i>
                                 Datos del Asegurado
                              </h5>
                           </div>
                           <div class="summary-price">
                              <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                           </div>
                        </div>
                     </div>
                     <div class="summary-block">
                        <div class="summary-content">
                           <div class="summary-head">
                              <h5 style="border:none;"  class="summary-title"></i>
                                 Deuda Asegurada
                              </h5>
                           </div>
                           <div class="summary-price">
                              <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                           </div>
                        </div>
                     </div>
                     <div class="summary-block">
                        <div class="summary-content">
                           <div class="summary-head">
                              <h5 style="border:none;"  class="summary-title">Fallecimiento</h5>
                           </div>
                           <div class="summary-price">
                              <a class="summary-text fas fa-check-circle" style="color:#13992a;font-size:20px;"></a>
                           </div>
                        </div>
                     </div>
                     <div class="summary-block">
                        <div class="summary-content">
                           <div class="summary-head">
                              <h5 style="border:none;"  class="summary-title">Pago de siniestro a transferir</h5>
                           </div>
                           <div class="summary-price">
                              <a class="summary-text fas fa-edit" style="color:#13992a;font-size:20px;"></a>
                           </div>
                        </div>
                     </div>
                     <div class="summary-block">
                        <div class="summary-content">
                           <div class="summary-head">
                              <h5 style="border:none;"  class="summary-title">Fin de la denuncia</h5>
                           </div>
                           <div class="summary-price">
                              <a class="summary-text far fa-circle" style="color:#13992a;font-size:20px;"></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>