<div class="panel panel-default" style="display:none;max-width:1000px;height:420px;overflow-y:hidden;" id="visualizacionesPromocionesPopUp" >
      	    <div style="width:100%;">
						<a class="btn pull-right fas fa-times cerrarModalBotonHoover"  data-placement="bottom"  style="box-shadow:none;font-size:20px;margin-bottom:5px;height:30px;padding-bottom:5px;padding-top:1px;color:#989898;background-color:#ffffff" rel="modal:close"></a>
			</div>
      	    <div class="panel-heading" style="max-width:600px;background-color:#ffffff;border-color:#ffffff;">
      	    <h4 style="border:none;" id="DATOS_MODAL_VISUALIZACIONES_PROMOCIONES"></h4>
      	    </div>	
   		<div>
               	<div class="row" style="margin:0px;">
          	 	  <div class="col-md-12" style="text-align: left;height: 365px;overflow-y:auto;padding:0px;">
								<div>
								<table class="table table-hover table-grilla" role="table">
								   
								    	  <thead class="thead-grilla" role="rowgroup">
								    <tr class="tr-grilla" role="row">
								            <th class="th-grilla" role="columnheader">Ramo</th>
								            <th class="th-grilla" role="columnheader">Producto</th>
								            <th class="th-grilla" role="columnheader">Visualizaci&oacute;n</th>
								            <th class="th-grilla" role="columnheader">Dato</th>
								            <th class="th-grilla" role="columnheader">Bien</th>
								            <th class="th-grilla" role="columnheader">Tabla</th>
								            <th class="th-grilla" role="columnheader">Visible</th>
								            <th class="th-grilla" role="columnheader">Usuario</th>
								            <th class="th-grilla" role="columnheader">Fe. Actualizaci&oacute;n</th>
								            
								        </tr>
								    </thead>
								    <tbody class="tbody-grilla" id="datosVisualizacionesPromociones">
							</tbody>
								</table>
								</div>
    				  </div>
    				  
    				  </div>
    				  
    			</div>	
   		</div>